<div id="hero-default" class="hero-banner slide hidden-xs" data-ride="hero">

  <!-- Wrapper for slides -->
  <div class="hero-inner" role="listbox">
    <div class="item active" style="background-image: url('https://pood.elion.ee/picturesInternal/1216/lion-epoe-banner%20(2).jpg');"></div>
    <div class="item" style="background-image:url('https://pood.elion.ee/picturesInternal/1222/lion-avalehe-banner-EST%20(2)%20spordikellad.jpg');"></div>
    <div class="item" style="background-image: url(https://pood.elion.ee/picturesInternal/1226/lion-avalehe-banner%20LG.jpg);"></div>
  </div>

  <!-- Indicators -->
  <ol class="hero-indicators">
    <div>
      <li data-target="#hero-default" data-slide-to="0" class="active">Ewerti uus album Spotify-s</li>
      <li data-target="#hero-default" data-slide-to="1">Lastenurk nutiTV-s</li>
      <li data-target="#hero-default" data-slide-to="2">Mobiil-ID - kiire ja mugav asjaajamine</li>
      <div class="arrow"></div>
    </div>
  </ol>

</div>
