<nav class="navbar navbar-default menu__main" role="navigation" id="headernavigation">
    <h1 class="sr-only">Main menu</h1>
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header sidemenuWrapper">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu__main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon icon-menu-horizontal"></span>
            </button>
            <div class="mobile-icons visible-xs">
                <ul class="pull-right">
                    <li class="sidemenu">
                        <a href="#" id="searchLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-search"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="internetLabel">
                            <div>
                               <input placeholder="search" />
                            </div>
                        </div>
                    </li>
                    <li class="sidemenu">
                        <a href="#" id="basketLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-buy"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="basketLabel">
                            <div>
                                <p class="text-right">Ostukorv on hetkel tyhi. Siia saad lisada endale meeleparaseid tooteid ja teenuseid.</p>
                            </div>
                        </div>
                    </li>
                    <li class="sidemenu">
                        <a href="#" id="accaountLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-myaccount"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="accaountLabel">
                            <div class="">
                                <ul>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            Mobiil-ID
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                <input type="text" />
                                                <button class="btn btn-primary">Sisene</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            Pangad
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            Sotsiaalmeedia
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                Sotsiaalmeedia
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            E-post
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                E-post
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sidemenu">
                        <a href="#" id="needLittleHelpLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-help_filled_round"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="needLittleHelpLabel">
                            <div>
                                <h3>Need hjaelp</h3>
                                <ul>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Mingi link</a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                <h3>test sisu next level</h3>
                                                <ul>
                                                    <li>
                                                        <a href="#">sublink</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- NEW MAIN MENU -->
        <div class="collapse navbar-collapse" id="menu__main">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="#">
                        <span class="icon icon-elion-logo"></span>
                    </a>
                </li>
                <li class="long-link sidemenu">
                    <a href="#" id="phones" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-home"></span>
                        Telefonid
                    </a>
                    <div class="sidemenu-menu left" role="menu" aria-labelledby="phones">
                        <div>
                            <ul>
                                <li><a href="#">Mobiiltelefonid</a></li>
                                <li><a href="#">Lauatelefonid</a></li>
                                <li><a href="#">Ekraanikaitsekiled</a></li>
                                <li><a href="#">Kaablid ja adapterid</a></li>
                                <li><a href="#">Autolaadijad</a></li>
                                <li><a href="#">Toalaadijad</a></li>
                                <li><a href="#">Autohoidjad</a></li>
                                <li><a href="#">Lauatelefoni lisatorud</a></li>
                                <li><a href="#">Lauatelefoni peakomplektid</a></li>
                                <li><a href="#">Kõrvaklapid</a></li>
                                <li><a href="#">Handsfree’d</a></li>
                                <li><a href="#">Akupangad</a></li>
                                <li><a href="#">Kõlarid</a></li>
                                <li><a href="#">BT vidinad</a></li>
                                <li><a href="#">Mälukaart</a></li>
                                <li class="sidemenu">
                                    <a href="#" id="phonesLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Mobiilsed võrguseadmed
                                    </a>
                                    <div class="sidemenu-menu left" role="menu" aria-labelledby="phonesLabel">

                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="#">Ruuter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Modem</a>
                                                </li>
                                                <li>
                                                    <a href="#">Repeater</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="long-link sidemenu">
                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-offers"></span>
                        Arvutid
                    </a>
                    <div class="sidemenu-menu left" role="menu" aria-labelledby="computers">
                        <div>
                            <ul>
                                <li><a href="#">Sülearvuti</a></li>
                                <li><a href="#">Tahvelarvuti</a></li>
                                <li><a href="#">Lauaarvuti</a></li>
                                <li><a href="#">Ruuterid</a></li>
                                <li><a href="#">Repeaterid</a></li>
                                <li><a href="#">Võrgukaardid</a></li>
                                <li><a href="#">Võrguadapterid</a></li>
                                <li><a href="#">Kaardilugejad</a></li>
                                <li><a href="#">Komponendid</a></li>
                                <li><a href="#">Klaviatuurid</a></li>
                                <li><a href="#">Hiired</a></li>
                                <li><a href="#">Hiirematt</a></li>
                                <li><a href="#">Veebikaamera</a></li>
                                <li><a href="#">Klaviatuuri kleebised</a></li>
                                <li class="sidemenu">
                                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Tarkvara
                                    </a>
                                    <div class="sidemenu-menu left" role="menu" aria-labelledby="tarkvara">
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="#">Kodu- ja kontor</a>
                                                </li>
                                                <li>
                                                    <a href="#">Viirusetõrje</a>
                                                </li>
                                                <li>
                                                    <a href="#">Opsüsteemid</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Kotid</a></li>
                                <li><a href="#">UPS</a></li>
                                <li><a href="#">Akud</a></li>
                                <li><a href="#">Patareid/akupatareid</a></li>
                                <li><a href="#">Garantiilahendused</a></li>
                                <li><a href="#">Monitorid</a></li>
                                <li class="sidemenu">
                                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Printerid
                                    </a>
                                    <div class="sidemenu-menu left" role="menu" aria-labelledby="tarkvara">
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="#">Tindiprinter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Laserprinter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Tindid ja toonerid</a>
                                                </li>
                                                <li>
                                                    <a href="#">Kaablid</a>
                                                </li>
                                                <li>
                                                    <a href="#">Paber</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Skännerid</a></li>
                                <li><a href="#">Kõrvaklapid</a></li>
                                <li><a href="#">Universaalsed kõlarid</a></li>
                                <li><a href="#">Mälupulgad</a></li>
                                <li><a href="#">Välised kõvakettad</a></li>
                                <li><a href="#">Komponendid</a></li>
                                <li><a href="#">Toorikud</a></li>
                                <li><a href="#">Puhastusvahendid</a></li>
                                <li><a href="#">Dokid</a></li>
                                <li><a href="#">Laadijad</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="long-link">
                    <a href="#">
                        <span class="icon icon-offers"></span>
                        Telerid
                    </a>
                </li>
                <li class="long-link">
                    <a href="#">
                        <span class="icon icon-tv"></span>
                        Kliendi- <br>seadmed
                    </a>
                </li>
                <li class="long-link">
                    <a href="#">
                        <span class="icon icon-offers"></span>
                        Foto ja <br>heli
                    </a>
                </li>
                <li class="long-link">
                    <a href="#">
                        <span class="icon icon-offers"></span>
                        Nuti- ja spordiseadmed
                    </a>
                </li>
                <li class="sidemenu">
                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-service-home-controll"></span>
                        Proto
                    </a>
                    <div class="sidemenu-menu left" role="menu" aria-labelledby="computers">
                        <!-- @include sisukord.html -->
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right menu__main--additional hidden-xs">
                <li class="sidemenu hide__scroll--top hidden-xs">
                    <a href="#" id="otsingLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="otsingLabel">
                        <div><input type="text" placeholder="Search"/></div>
                    </div>
                </li>
                <li class="sidemenu hide__scroll--top hidden-xs">
                    <a href="#" id="ostukorvLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-buy"></span>
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="ostukorvLabel">
                        <div>
                            <h3>Ostukorv levelil 2</h3>
                        </div>
                    </div>
                </li>
                <li class="sidemenu hide__scroll--top hidden-xs">
                    <a href="#" id="kontoLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-myaccount"></span>
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="kontoLabel">
                        <div>
                            <h3>Konto levelil 2</h3>
                            <ul>
                                <li class="sidemenu">
                                    <a href="#" id="internet1Label" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Submenu 1
                                    </a>
                                    <div class="sidemenu-menu right" role="menu" aria-labelledby="internet1Label">

                                        <div>
                                            <h3>Submenu 1</h3>
                                            <ul>
                                                <li>
                                                    <a href="#">link 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">link 2</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </li>
                                <li class="sidemenu">
                                    <a href="#" id="internet2Label" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Submenu 2
                                    </a>
                                    <div class="sidemenu-menu right" role="menu" aria-labelledby="internet2Label">

                                        <div>
                                            <h3>Submenu 2</h3>
                                            <ul>
                                                <li>
                                                    <a href="#">link 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">link 2</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </li>
                                <li><a href="#">submenu START</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu END</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sidemenu">
                    <a href="#" id="vajanabiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-help-round"></span>
                        Vajan abi
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="vajanabiLabel">
                        <div>
                            <h3>Vajan abi menu</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END NEW MAIN MENU -->

    </div>

</nav>
