<nav class="header-menu__main" role="navigation" id="headernavigation">
    <h1 class="sr-only">Main menu</h1>
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header sidemenuWrapper">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon icon-menu-horizontal"></span>
            </button>
            <div class="mobile-icons visible-xs">
                <ul class="pull-right">
                    <li class="sidemenu hide__scroll--top">
                        <a href="#" id="searchLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-search"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="internetLabel">
                            <div class="mobile-search">
                               <form class="searchbox-responsive navbar-form form-inline" role="search" autocomplete="on">
                                    <div class="form-group">
                                        <div class="twitter-typeahead">
                                            <label for="search" class="sr-only">Search</label>
                                            <input type="text" class="form-control" placeholder="Sisesta otsingusõna" name="searh" id="search">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-search"><span class="icon icon-search"></span></button>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="sidemenu hide__scroll--top">
                        <a href="#" id="basketLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-buy"></span>
                        </a>
                        <div class="sidemenu-menu right cart-dropdown" role="menu" aria-labelledby="basketLabel">
                            <div class="container">
                                <div class="jsHeaderShoppingCartContent cart-dropdown">
                                <div class="step jsInfoPanels"></div>

                                <div class="step js-overview-cart">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <h3>
                                                <span>Sul on ostukorvis 1 asi
                                                    
                                                </span>
                                            </h3>
                                            <div class="row cart">
                                                <div class="cart-items">
                                                    <div id="content-placeholder-cart-dropdown"></div>
                                                    
                                                    <div class="col-md-12 cart-item">
                                                        <div class="row">
                                                            <div class="col-xs-2 col-sm-1 cart-item-image ee-middle-table ee-top-10">
                                                                
                                                                <img class="img-responsive" alt="mobiiltelefon Sony Xperia Z1 Compact (must)" src="#">
                                                                
                                                            </div>

                                                            <div class="col-xs-10 col-sm-6 ee-middle-table">
                                                                <h5 class="ee-truncate">
                                                                    mobiiltelefon Sony Xperia Z1 Compact (must)
                                                                </h5>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-5 text-right ee-middle-table">
                                                                <div class="row">
                                                                    <div class="col-xs-5 col-sm-5 ee-middle-table">
                                                                        <div class="form-group">
                                                                            <label class="control-label ee-top-10 ee-top-0-xs text-center">Kogus: <strong>1</strong> </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-7 col-sm-7 ee-middle-table">
                                                                        <p class="tsr-product-price ee-product-price-md">Hind:  299,00 €</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr class="visible-xs">
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-md-3 ee-bottom-20">
                                            
                                            <div class="row hidden-xs">
                                                <div class="col-md-12 col-sm-5 pull-right">
                                                    <button class="btn btn-primary btn-block jsSendCart js-btn-action js-StopPropagation" data-view="js-send-cart"><span class="icon icon-email"></span>&nbsp;Saada</button>
                                                </div>
                                            </div>
                                            
                                            <div class="row hidden-xs">
                                                <div class="col-md-12 col-sm-5 pull-right ee-top-20 ee-top-0-xs">
                                                    <button class="btn btn-primary btn-block js-btn-action js-StopPropagation" data-view="js-save-cart"><span class="icon icon-save"></span>&nbsp;Salvesta</button>
                                                </div>
                                            </div>
                                            
                                            <div class="row visible-xs">
                                                
                                                <div class="col-xs-6">
                                                    <button class="btn btn-link btn-block js-btn-action visible-xs js-StopPropagation" data-view="js-send-cart"><span class="icon icon-email"></span>&nbsp;Saada</button>
                                                </div>
                                                
                                                <div class="col-xs-6">
                                                    <button class="btn btn-link btn-block js-btn-action visible-xs js-StopPropagation" data-view="js-save-cart"><span class="icon icon-save"></span>&nbsp;Salvesta</button>
                                                </div>
                                                
                                            </div>
                                            <div class="row ee-bottom-20">
                                                <div class="col-md-12 col-sm-5 col-xs-12 pull-right ee-top-20 ee-top-0-xs">
                                                    <button class="btn btn-default btn-block ee-btn-buy" onclick="location.href='/Store/checkout'">Jätka ostmist</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="step js-send-cart" style="display: none;">
                                    <div class="row megamenu">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h3>Ostukorvi e-postiga saatmine</h3>
                                            <form action="" class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <input type="text" id="receiver">
                                                            <label for="receiver">Saaja e-posti aadress</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <input type="text" id="sender">
                                                            <label for="sender">Saatja nimi</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <textarea id="send-cart-message" name="message" rows="5"></textarea>
                                                            <label for="send-cart-message">Sõnumi sisu</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <hr class="hidden-xs">
                                            <div class="row ee-bottom-20">
                                                <div class="col-sm-2 col-sm-offset-6 text-right ee-top-10">
                                                    <button class="btn btn-link btn-block js-btn-action js-StopPropagation" data-view="js-overview-cart">Tagasi</button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button data-xhref="/Store/checkout/Cart/SendShoppingCart" class="btn btn-default btn-block ee-btn-buy pull-right jsSend js-StopPropagation">Saada</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="step js-save-cart" style="display: none;">
                                    <div class="row megamenu">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h3>Ostukorvi salvestamine</h3>
                                            <form action="" class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <input type="text" id="receiver-name">
                                                            <label for="receiver-name">Ostukorvi nimi</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <hr class="hidden-xs">
                                            <div class="row ee-bottom-20">
                                                <div class="col-sm-2 col-sm-offset-6 text-right ee-top-10">
                                                    <button class="btn btn-link btn-block js-btn-action js-StopPropagation" data-view="js-overview-cart">Tagasi</button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button data-xhref="/Store/checkout/Cart/SaveShoppingCart" class="btn btn-default btn-block ee-btn-buy pull-right jsSave js-StopPropagation">Salvesta</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<script type="text/javascript"> BindHeaderShoppingCartEvents();</script>-->

                            </div>
                        </div>
                        </div>
                    </li>
                    <li class="sidemenu hide__scroll--top">
                        <a href="#" id="accaountLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-myaccount"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="accaountLabel">
                            <div class="">
                                <ul>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            Mobiil-ID
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                <input type="text" />
                                                <button class="btn btn-primary">Sisene</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            Pangad
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>Pangad<br>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            Sotsiaalmeedia
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                Sotsiaalmeedia
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                            E-post
                                        </a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                E-post
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sidemenu">
                        <a href="#" id="needLittleHelpLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-mystore"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="needLittleHelpLabel">
                            <div>
                                <ul>
                                    <li><a href="#">Järelmaks</a></li>
                                    <li><a href="#">Tellimused</a></li>
                                    <li><a href="#">Salvestatud ostukorvid</a></li>
                                    <li><a href="#">Minu lemmikud</a></li>
                                    <li><a href="#">Kontaktisikud</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="sidemenu">
                        <a href="#" id="needLittleHelpLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                            <span class="icon icon-help"></span>
                        </a>
                        <div class="sidemenu-menu right" role="menu" aria-labelledby="needLittleHelpLabel">
                            <div>
                                <h3>Need hjaelp</h3>
                                <ul>
                                    <li class="sidemenu">
                                        <a href="#" id="minginimiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Mingi link</a>
                                        <div class="sidemenu-menu right" role="menu" aria-labelledby="minginimiLabel">
                                            <div>
                                                <h3>test sisu next level</h3>
                                                <ul>
                                                    <li>
                                                        <a href="#">sublink</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- NEW MAIN MENU -->
        <div class="navbar-collapse" id="menu__main">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="#">
                        <span class="emt_elion_logo"></span>
                    </a>
                </li>
                <li class="sidemenu">
                    <a href="#" id="phones" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-mobile"></span>
                        Telefonid
                    </a>
                    <div class="sidemenu-menu left" role="menu" aria-labelledby="phones">
                        <div>
                            <ul>
                                <li><a href="#">Mobiiltelefonid</a></li>
                                <li><a href="#">Lauatelefonid</a></li>
                                <li><a href="#">Ekraanikaitsekiled</a></li>
                                <li><a href="#">Kaablid ja adapterid</a></li>
                                <li><a href="#">Autolaadijad</a></li>
                                <li><a href="#">Toalaadijad</a></li>
                                <li><a href="#">Autohoidjad</a></li>
                                <li><a href="#">Lauatelefoni lisatorud</a></li>
                                <li><a href="#">Lauatelefoni peakomplektid</a></li>
                                <li><a href="#">Kõrvaklapid</a></li>
                                <li><a href="#">Handsfree’d</a></li>
                                <li><a href="#">Akupangad</a></li>
                                <li><a href="#">Kõlarid</a></li>
                                <li><a href="#">BT vidinad</a></li>
                                <li><a href="#">Mälukaart</a></li>
                                <li class="sidemenu">
                                    <a href="#" id="phonesLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Mobiilsed võrguseadmed
                                    </a>
                                    <div class="sidemenu-menu left" role="menu" aria-labelledby="phonesLabel">

                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="#">Ruuter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Modem</a>
                                                </li>
                                                <li>
                                                    <a href="#">Repeater</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sidemenu">
                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-computer"></span>
                        Arvutid
                    </a>
                    <div class="sidemenu-menu left" role="menu" aria-labelledby="computers">
                        <div>
                            <ul>
                                <li><a href="#">Sülearvuti</a></li>
                                <li><a href="#">Tahvelarvuti</a></li>
                                <li><a href="#">Lauaarvuti</a></li>
                                <li><a href="#">Ruuterid</a></li>
                                <li><a href="#">Repeaterid</a></li>
                                <li><a href="#">Võrgukaardid</a></li>
                                <li><a href="#">Võrguadapterid</a></li>
                                <li><a href="#">Kaardilugejad</a></li>
                                <li><a href="#">Komponendid</a></li>
                                <li><a href="#">Klaviatuurid</a></li>
                                <li><a href="#">Hiired</a></li>
                                <li><a href="#">Hiirematt</a></li>
                                <li><a href="#">Veebikaamera</a></li>
                                <li><a href="#">Klaviatuuri kleebised</a></li>
                                <li class="sidemenu">
                                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Tarkvara
                                    </a>
                                    <div class="sidemenu-menu left" role="menu" aria-labelledby="tarkvara">
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="#">Kodu- ja kontor</a>
                                                </li>
                                                <li>
                                                    <a href="#">Viirusetõrje</a>
                                                </li>
                                                <li>
                                                    <a href="#">Opsüsteemid</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Kotid</a></li>
                                <li><a href="#">UPS</a></li>
                                <li><a href="#">Akud</a></li>
                                <li><a href="#">Patareid/akupatareid</a></li>
                                <li><a href="#">Garantiilahendused</a></li>
                                <li><a href="#">Monitorid</a></li>
                                <li class="sidemenu">
                                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Printerid
                                    </a>
                                    <div class="sidemenu-menu left" role="menu" aria-labelledby="tarkvara">
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="#">Tindiprinter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Laserprinter</a>
                                                </li>
                                                <li>
                                                    <a href="#">Tindid ja toonerid</a>
                                                </li>
                                                <li>
                                                    <a href="#">Kaablid</a>
                                                </li>
                                                <li>
                                                    <a href="#">Paber</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Skännerid</a></li>
                                <li><a href="#">Kõrvaklapid</a></li>
                                <li><a href="#">Universaalsed kõlarid</a></li>
                                <li><a href="#">Mälupulgad</a></li>
                                <li><a href="#">Välised kõvakettad</a></li>
                                <li><a href="#">Komponendid</a></li>
                                <li><a href="#">Toorikud</a></li>
                                <li><a href="#">Puhastusvahendid</a></li>
                                <li><a href="#">Dokid</a></li>
                                <li><a href="#">Laadijad</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-service-tv"></span>
                        Telerid
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-camera"></span>
                        Kaamerad
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-music"></span>
                        Helitehnika
                    </a>
                </li>
                <li class="long-link">
                    <a href="#">
                        <span class="icon icon-watch"></span>
                        Sport ja Vaba aeg
                    </a>
                </li>
                <li class="sidemenu long-link" data-url="proto">
                    <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-modem"></span>
                        Teenuste Seadmed
                    </a>
                    <div class="sidemenu-menu left" role="menu" aria-labelledby="computers">
                        <!-- @include sisukord.html -->
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right menu__main--additional hidden-xs">
                <li class="sidemenu hide__scroll--top hidden-xs">
                    <a href="#" id="otsingLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="otsingLabel">
                        <div class="scrolled-search">
                            <form class="searchbox-responsive navbar-form form-inline" role="search" autocomplete="on">
                                <div class="form-group">
                                    <div class="twitter-typeahead">
                                        <label for="search" class="sr-only">Search</label>
                                        <input type="text" class="form-control" placeholder="Sisesta otsingusõna" name="searh" id="search">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-search"><span class="icon icon-search"></span></button>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="sidemenu hide__scroll--top hidden-xs">
                    <a href="#" id="ostukorvLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-buy"></span>
                        <span style="" class="shoppingCartBadgeProductCount badge">4</span>
                    </a>
                    <div class="sidemenu-menu right cart-dropdown" role="menu" aria-labelledby="ostukorvLabel">
                        <div class="container">
                            <div class="jsHeaderShoppingCartContent cart-dropdown">
                                <div class="step jsInfoPanels"></div>

                                <div class="step js-overview-cart">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-12">
                                            <h3>
                                                <span>Sul on ostukorvis 1 asi
                                                    
                                                </span>
                                            </h3>
                                            <div class="row cart">
                                                <div class="cart-items">
                                                    <div id="content-placeholder-cart-dropdown"></div>
                                                    
                                                    <div class="col-md-12 cart-item">
                                                        <div class="row">
                                                            <div class="col-xs-2 col-sm-1 cart-item-image ee-middle-table ee-top-10">
                                                                
                                                                <img class="img-responsive" alt="mobiiltelefon Sony Xperia Z1 Compact (must)" src="#">
                                                                
                                                            </div>

                                                            <div class="col-xs-10 col-sm-6 ee-middle-table">
                                                                <h5 class="ee-truncate">
                                                                    mobiiltelefon Sony Xperia Z1 Compact (must)
                                                                </h5>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-5 text-right ee-middle-table">
                                                                <div class="row">
                                                                    <div class="col-xs-5 col-sm-5 ee-middle-table">
                                                                        <div class="form-group">
                                                                            <label class="control-label ee-top-10 ee-top-0-xs text-center">Kogus: <strong>1</strong> </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-7 col-sm-7 ee-middle-table">
                                                                        <p class="tsr-product-price ee-product-price-md">Hind:  299,00 €</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr class="visible-xs">
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 col-md-3 ee-bottom-20 ee-top-30">
                                            
                                            <div class="row hidden-xs">
                                                <div class="col-md-12 col-sm-5 pull-right">
                                                    <button class="btn btn-primary btn-block jsSendCart js-btn-action js-StopPropagation" data-view="js-send-cart"><span class="icon icon-email"></span>&nbsp;Saada</button>
                                                </div>
                                            </div>
                                            
                                            <div class="row hidden-xs">
                                                <div class="col-md-12 col-sm-5 pull-right ee-top-20 ee-top-0-xs">
                                                    <button class="btn btn-primary btn-block js-btn-action js-StopPropagation" data-view="js-save-cart"><span class="icon icon-save"></span>&nbsp;Salvesta</button>
                                                </div>
                                            </div>
                                            
                                            <div class="row visible-xs">
                                                
                                                <div class="col-xs-6">
                                                    <button class="btn btn-link btn-block js-btn-action visible-xs js-StopPropagation" data-view="js-send-cart"><span class="icon icon-email"></span>&nbsp;Saada</button>
                                                </div>
                                                
                                                <div class="col-xs-6">
                                                    <button class="btn btn-link btn-block js-btn-action visible-xs js-StopPropagation" data-view="js-save-cart"><span class="icon icon-save"></span>&nbsp;Salvesta</button>
                                                </div>
                                                
                                            </div>
                                            <div class="row ee-bottom-20">
                                                <div class="col-md-12 col-sm-5 col-xs-12 pull-right ee-top-20 ee-top-0-xs">
                                                    <button class="btn btn-default btn-block ee-btn-buy" onclick="location.href='/Store/checkout'">Jätka ostmist</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="step js-send-cart" style="display: none;">
                                    <div class="row megamenu">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h3>Ostukorvi e-postiga saatmine</h3>
                                            <form action="" class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <input type="text" id="receiver">
                                                            <label for="receiver">Saaja e-posti aadress</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <input type="text" id="sender">
                                                            <label for="sender">Saatja nimi</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <textarea id="send-cart-message" name="message" rows="5"></textarea>
                                                            <label for="send-cart-message">Sõnumi sisu</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <hr class="hidden-xs">
                                            <div class="row ee-bottom-20">
                                                <div class="col-sm-2 col-sm-offset-6 text-right ee-top-10">
                                                    <button class="btn btn-link btn-block js-btn-action js-StopPropagation" data-view="js-overview-cart">Tagasi</button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button data-xhref="/Store/checkout/Cart/SendShoppingCart" class="btn btn-default btn-block ee-btn-buy pull-right jsSend js-StopPropagation">Saada</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="step js-save-cart" style="display: none;">
                                    <div class="row megamenu">
                                        <div class="col-md-10 col-md-offset-1">
                                            <h3>Ostukorvi salvestamine</h3>
                                            <form action="" class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <div class="ee-input">
                                                            <input type="text" id="receiver-name">
                                                            <label for="receiver-name">Ostukorvi nimi</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <hr class="hidden-xs">
                                            <div class="row ee-bottom-20">
                                                <div class="col-sm-2 col-sm-offset-6 text-right ee-top-10">
                                                    <button class="btn btn-link btn-block js-btn-action js-StopPropagation" data-view="js-overview-cart">Tagasi</button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button data-xhref="/Store/checkout/Cart/SaveShoppingCart" class="btn btn-default btn-block ee-btn-buy pull-right jsSave js-StopPropagation">Salvesta</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<script type="text/javascript"> BindHeaderShoppingCartEvents();</script>-->

                            </div>
                        </div>
                    </div>
                </li>
                <li class="sidemenu hide__scroll--top hidden-xs">
                    <a href="#" id="kontoLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-myaccount"></span>
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="kontoLabel">
                        <div>
                            <h3>Konto levelil 2</h3>
                            <ul>
                                <li class="sidemenu">
                                    <a href="#" id="internet1Label" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Submenu 1
                                    </a>
                                    <div class="sidemenu-menu right" role="menu" aria-labelledby="internet1Label">

                                        <div>
                                            <h3>Submenu 1</h3>
                                            <ul>
                                                <li>
                                                    <a href="#">link 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">link 2</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </li>
                                <li class="sidemenu">
                                    <a href="#" id="internet2Label" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                                        Submenu 2
                                    </a>
                                    <div class="sidemenu-menu right" role="menu" aria-labelledby="internet2Label">

                                        <div>
                                            <h3>Submenu 2</h3>
                                            <ul>
                                                <li>
                                                    <a href="#">link 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">link 2</a>
                                                </li>
                                            </ul>

                                        </div>

                                    </div>
                                </li>
                                <li><a href="#">submenu START</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu</a></li>
                                <li><a href="#">submenu END</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sidemenu long-link">
                    <a href="#" id="vajanabiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-mystore"></span>
                        Minu<br>e-pood
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="vajanabiLabel">
                        <div>
                            <ul>
                                <li><a href="#">Järelmaks</a></li>
                                <li><a href="#">Tellimused</a></li>
                                <li><a href="#">Salvestatud ostukorvid</a></li>
                                <li><a href="#">Minu lemmikud</a></li>
                                <li><a href="#">Kontaktisikud</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="sidemenu">
                    <a href="#" id="vajanabiLabel" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">
                        <span class="icon icon-help"></span>
                        Vajan abi
                    </a>
                    <div class="sidemenu-menu right" role="menu" aria-labelledby="vajanabiLabel">
                        <div>
                            <h3>Vajan abi menu</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- END NEW MAIN MENU -->

    </div>

</nav>
