<div class="dropdown-menu" >
  <div class="container">
    <div class="row megamenu user-droplayer">
      <div class="col-sm-3">
        <ul class="list-group promotion">
          <li class="dropdown-header"><h6><a href="#">Tere!</a></h6>
            <ul>
              <li><p>See on e-poe aktiivne proto. Siit menüüst leiad kõik lehed, mis meil käsil või valmis. </p>
                <p>
                Kui on küsimusi kirjuta mulle <a href="mailto:mare.hunt@netgroup.ee" style="text-decoration: underline;">mare.hunt@netgroup.ee</a>.
              </p>
              <p>Projekti dokumentatsioon asub <a href="https://github.com/kokakoola/e-pood/blob/master/README.md" style="text-decoration: underline;">Githubis</a></p>
            </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm-9">

        <ul class="list-group">
          <li class="dropdown-header has-child"><h6><a href="#">Põhivaated</a></h6>
            <ul>
              <li><a href="index.html">Avaleht</a></li>
              <li><a href="block-view-phones.html">Klotsvaade (+ajax loader)</a></li>
              <li><a href="list-view-phones.html">Listvaade</a></li>
              <li><a href="detail.html">Detailvaade</a></li>
              <li><a href="detail-bundles.html">Detailvaade lisatoodetega</a></li>
              <li><a href="front-logged-in.html">Sisseloginud klient (tuksis praegu)</a></li>
            </ul>
          </li>
          <li class="dropdown-header has-child"><h6><a href="#">Erivaated</a></h6>
            <ul>
              <li><a href="found-page-block.html">Otsingutulemused klots</a></li>
              <li><a href="found-page-list.html">Otsingutulemused list</a></li>
              <li><a href="favorite-page.html">Lemmikud (+ajax loader inline)</a></li>
              <li><a href="compare-page.html">Võrdlus</a></li>
              <li><a href="care-page.html">Hooldusinfo</a></li>
              <li><a href="help-page.html">Abilehed</a></li>
              
            </ul>
          </li>
          <li class="dropdown-header has-child"><h6><a href="#">Ostukorv</a></h6>
            <ul>
              <li><a href="cart-overview.html">1. Ülevaade</a></li>
              <li><a href="cart-aboutyou.html">2. Arveandmed</a></li>
              <li><a href="cart-delivery.html">3. Kohaletoomine</a></li>
              <li><a href="cart-payment.html">4. Maksmine</a></li>
              <li><a href="cart-leasing-survey.html">4a. Liising-ankeet</a></li>
              <li><a href="cart-leasing.html">4b. Liising-kokkuvõte</a></li>
              <li><a href="cart-leasing-contract.html">4c. Liising-leping</a></li>
              <li><a href="cart-conclusion.html">5. Kokkuvõte</a></li>
              <hr>
              <li><a href="cart-overview-service.html">1. Teenindaja ülevaade </a></li>
              <li><a href="cart-business-client-service.html">2. Teenindaja kliendiandmed</a></li>
              <li><a href="cart-delivery-service.html">3. Teenindaja kohaletoomine</a></li>
              <li><a href="cart-send-offer.html">4. Teenindaja pakkumise saatmine</a></li>
            </ul>
          </li>
        </ul>
      </div>


                        <!-- <div class="col-sm-3 col-md-3">

                          <li class="dropdown-header has-child"><h6><a href="#">Eraklient</a></h6>
                            <ul>
                              <li><a href="#">Ahto Pärn von Krusesten</a></li>
                              <li><a href="#">Eesnimi Perenimi</a></li>
                              <li><a href="#">Martinson Sandrovinkilkohv</a></li>
                            </ul>
                          </li>
                        </div> -->
                        <!-- <div class="col-sm-3">
                            <h2><a href="#">Äriklient</a></h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Minuesimenefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuteinefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minukolmasfirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuneljas OÜ</a></li>
                                <li class="list-group-item"><p><span class="icon icon-plus"></span> <a href="#">Registreeri uus äriklient</a></p></li>
                            </ul>
                          </div> -->
                        <!-- <div class="col-sm-3">
                            <h2 class="link"><a href="#">Minu andmed <span class="icon icon-arrow-right"></span></a></h2>
                            <hr>
                            <p><span class="icon icon-minus"></span> <a href="#">Välju </a></p>
                          </div> -->
                        </div>
                      </div>
                      <div class="container reset-padding">
                        <ul class="row hidden-xs list-unstyled">
                          <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                        </ul>
                      </div>
                    </div>