<div>
    <ul>
      <h3>Tere! See on e-poe aktiivne proto. Siit menüüst leiad kõik lehed, mis meil käsil või valmis.</h3>
        <li class="sidemenu">
          <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Põhivaated</a>
          <div class="sidemenu-menu left">
            <div>
              <ul>
                <li><a href="index.html">Avaleht</a></li>
                <li><a href="block-view-phones.html">Klotsvaade (+ajax loader)</a></li>
                <li><a href="list-view-phones.html">Listvaade</a></li>
                <li><a href="detail.html">Detailvaade</a></li>
                <li><a href="detail-bundles.html">Detailvaade lisatoodetega</a></li>
                <li><a href="front-logged-in.html">Sisseloginud klient (tuksis praegu)</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sidemenu">
          <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Erivaated</a>
          <div class="sidemenu-menu left">
            <div>
              <ul>
                <li><a href="found-page-block.html">Otsingutulemused klots</a></li>
                <li><a href="found-page-list.html">Otsingutulemused list</a></li>
                <li><a href="favorite-page.html">Lemmikud (+ajax loader inline)</a></li>
                <li><a href="compare-page.html">Võrdlus</a></li>
                <li><a href="care-page.html">Hooldusinfo</a></li>
                <li><a href="help-page.html">Abilehed</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sidemenu">
          <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Ostukorv</a>
          <div class="sidemenu-menu left">
            <div>
              <ul>
                <li><a href="cart-overview.html">1. Ülevaade</a></li>
                <li><a href="cart-aboutyou.html">2. Arve andmed</a></li>
                <li><a href="cart-delivery.html">3. Kohaletoomine</a></li>
                <li><a href="cart-payment.html">4. Maksmine</a></li>
                <li><a href="cart-leasing-survey.html">4a. Liising-ankeet</a></li>
                <li><a href="cart-leasing.html">4b. Liising-kokkuvõte</a></li>
                <li><a href="cart-leasing-contract.html">4c. Liising-leping</a></li>
                <li><a href="cart-conclusion.html">5. Kokkuvõte</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sidemenu">
          <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Ostukorv teenindaja</a>
          <div class="sidemenu-menu left">
            <div>
              <ul>
                <li><a href="cart-overview-service.html">1. Teenindaja ülevaade </a></li>
                <li><a href="cart-business-client-service.html">2. Teenindaja kliendiandmed</a></li>
                <li><a href="cart-delivery-service.html">3. Teenindaja kohaletoomine</a></li>
                <li><a href="cart-send-offer.html">4. Teenindaja pakkumise saatmine</a></li>
                <li><a href="client-offer-overview.html">1. Kliendi pakkumuse kinntamine</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="sidemenu">
          <a href="#" class="sidemenu-toggle" data-target="#" data-toggle="sidemenu">Ostukorv tehnik</a>
          <div class="sidemenu-menu left">
            <div>
              <ul>
                <li><a href="cart-technician.html">1. Tehniku ostukorv</a></li>
                <li><a href="cart-technician-products.html">2. Tehniku toodete valik</a></li>
                <li><a href="cart-technician-overview.html">3. Tehniku ostukorvi ülevaade</a></li>
              </ul>
            </div>
          </div>
        </li>
    </ul>
</div>