<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="row tsr-forms ee-top-20 ee-top-0-xs">
      <div class="well error-well ee-top-20" id="paymentInfoJarelmaks">
        <span class="icon icon-alert"></span>
        <p class="col-xs-10 col-sm-11">Sry, sa ei saa mingil põhjusel ettmaksu valida. Pöördu teenindaja poole <a href="#" ><u>siin</u></a>, et asja lahendada.</p>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-6 col-md-4">
        <h4>Olen:</h4>
        <div class="select-container">
          <select id="chooseRole">
            <option selected>Eraisik</option>
            <option>Ettevõtte esindaja</option>
          </select>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4 ee-top-20-xs">
        <h4>Soovin maksta:</h4>
        <div class="select-container">
          <select id="choosePayment">
            <option selected>Pangalingiga</option>
            <option>Järelmaksuga</option>
            <option>Ettemaksuga</option>
          </select>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 ee-top-20">

        <div class="well info-well" id="paymentInfoPangalink">
          <span class="icon icon-info"></span>
          <p>Pangalingiga</p>
          <p>
            <small>
              Siin on pangalingi selgitustekst, see mis meil küsimärgi all praegu. Muudub vastavalt sellele, mis valitud.
            </small>
          </p>
        </div>
        <!-- <div class="panel panel-warning" id="paymentInfoJarelmaks">
          <div class="panel-heading" style="color: #fff;">
            <span class="icon icon-alert"></span>  Järelmaksuga
          </div>
          <div class="panel-body">
            <small>
              Sry, sa ei saa mingil põhjusel ettmaksu valida. Pöördu teenindaja poole <a href="#" ><u>siin</u></a>, et asja lahendada.
            </small>
          </div>
        </div> -->
        <div class="well info-well" id="paymentInfoEttemaks">
          <span class="icon icon-info"></span>
          <p>Ettemaksuga</p>
          <p>
            <small>
              Siin on ettemaksu selgitustekst, see mis meil küsimärgi all praegu. Muudub vastavalt sellele, mis valitud.
            </small>
          </p>
        </div>
      </div>
    

    
      <div class="col-sm-6 col-md-8 tsr-forms ee-top-20">
        <h4>Arve andmed:</h4>
        <form id="about" method="post" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="name-1" value="Anton Keks" disabled="disabled">
                <label for="name-1">Nimi*</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="email-1">
                <label for="email-1">E-post*</label>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="phone-1">
                <label for="phone-1">Telefon*</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="address-1">
                <label for="address-1">Aadress*<a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" title="" data-content=" Kauba võid tellida ka mõnele muule aadressile ja teise isiku nimele - seda saad täpsustada ülejärgmises sammus " data-original-title="Aadress"><i class="icon icon-help"></i></a></label>
              </div>
            </div>
          </div>
          <!-- <label for="check-2"><input type="checkbox" id="check-2" /> <span class="ee-labeltext"> &nbsp;&nbsp; Tarneaadress on sama, mis arveaadress</span></label> -->
        </form>
        
      </div>
  <!-- Regular checks -->
  <!--  ******************** -->
  <br>
  <div class="col-sm-6 col-md-4 checks tsr-forms hidden-xs bottom-align-text">
    <span>
      <label class="control-label-left" for="check-2">Nõustun e-poe <a href="">tingimustega</a>*</label>
      <input type="checkbox" id="check-2" />
    </span>
  
    <span>
      <label class="control-label-left" for="check-3">Nõustun e-poe <a href="">tagastustingimustega</a>*</label>
      <input type="checkbox" id="check-3" />
    </span>

    <span>
      <label class="control-label-left"  for="check-1">Soovin saada e-poe pakkumisi</label>
      <input type="checkbox" id="check-1" />
    </span>
  </div>
      <!-- WARNING! No ie8 compatible. Use regular Checks there-->
<!--  ******************** -->
      <div class="col-sm-6 col-md-4 checks visible-xs ee-top-0-xs" >
        
        <div class="row">
          <div class="form-group">
            <span class="ee-labeltext col-xs-8 control-label">Nõustun e-poe <a href="">tingimustega</a>*</span>
            <div class="col-xs-4">
              <div class="onoffswitch pull-right">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox form-control" id="myonoffswitch2" >
                <label class="onoffswitch-label" for="myonoffswitch2">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <span class="ee-labeltext col-xs-8 control-label">Nõustun e-poe <a href="">tagastustingimustega</a>*</span>
            <div class="col-xs-4">
              <div class="onoffswitch pull-right">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox form-control" id="myonoffswitch3">
                <label class="onoffswitch-label" for="myonoffswitch3">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <span class="ee-labeltext col-xs-8 control-label">Soovin saada e-poe pakkumisi</span>
            <div class="col-xs-4">
              <div class="onoffswitch pull-right">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox form-control" id="myonoffswitch1" >
                <label class="onoffswitch-label" for="myonoffswitch1">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>