<!-- Otsi klienti -->
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-sm-8">
        <h4>Otsi klienti:</h4>
        <form id="about" method="post" class="form-horizontal tsr-forms" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input id="fname" name="name" type="text" value="Teele" />
                <label for="fname">Eesnimi</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input id="lname" name="email"  type="text" value="Puusemp" class="input-validation-error" />
                <label for="lname">Pere- või firmanimi</label>
                <span>Siin on midagi viga</span>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="ee-input">
                <input id="phone" name="phone"  type="text" />
                <label for="phone">Kliendinumber</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input id="address" name="adress" type="text"/>
                <label for="address">Isiku- või registrikood</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-2">
              <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#findClient">Otsi klienti</button>
            </div>
            <div class="col-sm-5 ee-top-10-xs">
              <button class="btn btn-primary btn-block" onClick="location.href= ">Eemalda klient tellimuselt</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4">
        <h4>Dokumendikontroll:</h4>
        <a href="#" class="external">Juhiloa kehtivuse päring&nbsp;</a><br><br>
        <a href="#" class="external">Isikut tõendava dokumendi kehtivuse päring&nbsp;</a>
      </div>
    </div>
    <div class="panel-collapse collapse arrow_box find-client" id="findClient">
        <button type="button" class="close" data-target="#findClient" data-toggle="collapse"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="row">
          <div class="col-sm-11">
            <h4>Kliendi otsingu tulemused</h4>
            <ul class="list-unstyled">
              <li><a href="#">Lauriina AS (01345385)</a></li>
              <li><a href="#">Riina Säde hambaravi (453453434534)</a></li>
              <li><a href="#">Riina Mitt (5675765645)</a></li>
            </ul>
          </div>
        </div>
      </div>
    <hr>
    <div class="well error-well ee-top-20">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <span class="icon icon-alert"></span><p class="col-xs-11 col-sm-10">Mingi määratlemata sorti jama. Midagi ei saa teha</p>
      <div class="clearfix"></div>
    </div>


    <div class="row tsr-forms ee-top-20">
      <div class="col-sm-6 col-md-4">
        <h4>On:</h4>
        <select>
          <option selected>Eraklient</option>
          <option disabled>Äriklient</option>
        </select>
      </div>
      
      <div class="col-sm-6 col-md-4 ee-top-20-xs">
        <h4>Soovib maksta:</h4>
        <select>
          <option>Kassas</option>
          <option>Arvega, maksetähtaeg 14 päeva</option>
          <option>Arvega, maksetähtaeg 7 päeva</option>
          <option selected>Kapitalirendiga</option>
          <option>Kasutusrendileping</option>
          <option>Järgmise arvega</option>
        </select>
      </div>

      <div class="col-sm-12 col-md-4 ee-top-20">
        <div class="well info-well">
          <span class="icon icon-info"></span>
          <p>Kapitalirendiga</p>
          <p>
            <small>
              Siin on pangalingi selgitustekst, see mis meil küsimärgi all praegu. Muudub vastavalt sellele, mis valitud.
            </small>
          </p>
        </div>
      </div>
    </div>


    <h4>Arve andmed:</h4>
    <div class="row">
      <div class="col-md-8 tsr-forms">
        <form id="about" method="post" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="name-1" value="Net Group" disabled>
                <label for="name-1">Firma nimi</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="code-1" value="23420978234">
                <label for="code-1">Registrikood</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="" class="ee-select-label">Viitenumber</label>
              <select class="input-validation-error">
                <option value="" disabled selected>Viitenumber</option>
                <option>Kopli tn paparapparaa, viitenumber 277433276 </option>
                <option>Äriklient</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="" class="ee-select-label">Kontaktisik</label>
              <select disabled>
                <option selected>Priit Kongo</option>
                <option disabled>Keegi Teine</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="viide-1" value="B-kaart">
                <label for="viide-1">Viitenumber</label>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="kontakttelefon" placeholder="max 18 tähte">
                <label for="kontakttelefon">Kontakttelefon</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="ee-input">
                <input type="text" id="email" value="info@netgroup.ee">
                <label for="email">E-post</label>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <div class="col-sm-12">
              <div class="ee-input">
                <input id="tellimus-1" name="phone-1"  type="text" />
                <label for="tellimus-1">Tellimuse viide</label>
              </div>
            </div>
          </div>

        </form>
        
      </div>

      <!-- WARNING! No ie8 compatible. Use regular Checks there-->
<!--  ******************** -->

      <div class="col-md-4">
        <div class="form-horizontal tsr-forms well">
          <span class="icon icon-info"></span>
          <p>Teenindajale</p>
          <div class="form-group">
            <label for="name" class="ee-labeltext col-sm-3 col-md-6 control-label">Vaba kaubalimiit</label>
            <div class="col-sm-6">
              <label class="control-label-left">10 000,00 €</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 col-md-6 control-label">Registrikood</label>
            <div class="col-sm-6">
              <label class="control-label-left">69696969</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 col-md-6 control-label">Registrikood</label>
            <div class="col-sm-6">
              <label class="control-label-left">69696969</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 col-md-6 control-label">Registrikood</label>
            <div class="col-sm-6">
              <label class="control-label-left">69696969</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 col-md-6 control-label">Registrikood</label>
            <div class="col-sm-6">
              <label class="control-label-left">69696969</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 col-md-6 control-label">Liisingu tingimused</label>
            <div class="col-sm-6">
              <label class="control-label-left">Liisingu tingimused pole nõutud</label>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-3 col-md-6 control-label">Kliendi jooksev võlg</label>
            <div class="col-sm-6">
              <label class="control-label-left">69696969</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>