<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="row tsr-forms">
      <div class="col-sm-6 col-md-8">
        <h4>Vali kättesaamise viis:</h4>
          <select>
            <option>Kulleriga koju/kontorisse kätte (3,50 €)</option>
            <option >Pakiautomaadist (tasuta)</option>
            <option>Tulen ise poodi järgi (tasuta)</option>
          </select>
      </div>

      <div class="col-sm-6 col-md-4 ee-top-20">
        <div class="well info-well" id="deliveryInfoShop">
          <span class="icon icon-info"></span>
          <p>Poest</p>
          <p>
            <small>
              Kaup kätte <strong>täna, 07.11</strong>
            </small>
          </p>
        </div>
        <div class="well info-well" id="deliveryInfoItella" >
          <span class="icon icon-info"></span>
          <p>Pakiautomaadist</p>
          <p>
            <small>
              Kaup kätte <strong>täna, 07.11</strong>
            </small>
          </p>
        </div>
        <div class="well info-well" id="deliveryInfoCourier">
          <span class="icon icon-info"></span>
          <p>Kulleriga</p>
          <p>
            <small>
              Kaup kätte <strong>täna, 07.11</strong>. <br>
              <strong>NB! </strong>Kui Sa ei saa sobival ajal kodus olla saad paki tellida ka oma töökohta.
            </small>
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <!-- @include delivery-courier -->
    <!-- @include delivery-omniva -->
    <!-- @include delivery-shop -->
  </div>
</div>