<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="row tsr-forms">
      <div class="col-sm-6 col-md-8">
        <h4>Vali kättesaamise viis:</h4>
        <div class="select-container">
          <select id="chooseDelivery">
            <option>Kulleriga koju/kontorisse kätte (3,50 €)</option>
            <option>SmartPosti pakiautomaadist (Lisatasuta)</option>
            <option>Omniva pakiautomaadist (Lisatasuta)</option>
            <option selected>Tulen ise poodi järgi (Lisatasuta)</option>
          </select>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 ee-top-20">
        <div class="panel panel-info" id="deliveryInfoShop">
          <div class="panel-body">
            <small>
              Kui soovid saad veebist tellitud kauba kätte Elioni poest. Meeldiv teenindus ja asjatundlikud nõuanded pealekauba :)
            </small>
          </div>
        </div>
        <div class="panel panel-info" id="deliveryInfoItella" >
          <div class="panel-body">
            <small>
              SmartPOSTi pakiautomaat on „iseteeninduslik postkontor“. Pakiautomaadid asuvad kaubanduskeskustes, kuhu on hea ligipääs, head parkimistingimused ja õhtul kaua avatud.
            </small>
          </div>
        </div>
        <!-- <div class="panel panel-info" id="deliveryInfoOmniva" >
          <div class="panel-body">
            <small>
              Omniva on kiire ja mugav pakiteenus nii saajale kui saatjale. Unikaalsed välitingimustes pakiautomaadid asuvad kaubanduskeskuste juures ja neile saab ligi nii autoga, jalgsi kui ühistranspordiga. Omniva pakiautomaadid on avatud ööpäevaringselt, nii saate valida just teile sobiva aja paki vastuvõtmiseks või saatmiseks.
            </small>
          </div>
        </div> -->
        <div class="panel panel-info" id="deliveryInfoCourier">
          <div class="panel-body">
            <small>
              Saad ise valida aadressi kuhu kuller kaubad toob. NB! Kui Sa ei saa sobival ajal kodus olla saad paki tellida ka oma töökohta.
            </small>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <!-- @include delivery-courier -->
    <!-- @include delivery-itella -->
    <!-- @include delivery-shop -->
  </div>
</div>