<section class="row ee-panel-leasing collapse" id="leasingToggle">
  <div class="row tsr-forms ">
    <div class="col-md-6 ee-top-10">
      <p>Periood:</p>
        <div class="select-container"><select><option selected>48 kuud</option><option>iPhone</option><option>Samsung</option></select></div>
      <p class="ee-top-10">Sissemakse:</p>
      <div class="select-container"><select><option selected>0,00% | 0,00 €</option><option>iPhone</option><option>Samsung</option></select></div>
    </div>

    <div class="col-md-6 ee-top-10">
      <a href="#">Logi sisse, et näha personaalseid tingimusi</a>

      <p class="ee-top-10">
        <small>Krediidi kulukuse määr on 26,6% aastas järgmistel näidistingimustel: kauba summa 500€, tagasimaksmise tähtaeg 48-kuud, intress 21,9%. Tegemist on finantsteenuse reklaamiga. Järelmaksu pakkujaks on Elion Ettevõtted AS. Enne tehingu sõlmimist tutvu täpsemate järelmaksu tingimustega ning vajaduse korral konsulteeri asjatundjaga.</small>
      </p>

      </div>
  </div>
</section>