<div class="tab-pane fade in active" id="offers">
  <div class="container ee-top-10">
    <div class="row ee-nogap">
      <section class="tsr-section-productAndService-listing">
        <div class="col-five-on-small">
          <div class="tsr-module-product ee-blockview" style="height: 295px;">
            <figure class="tsr-product-image">
              <a href="/productInfo/29/mobiiltelefon-sony-xperia-z3-(must)/1288-1948" class="jsRememberMe">
        
                <img src="assets/img/offers/emtspoty.png" data-original="https://pood.elion.ee/pictures/120649_19/300x300xt/Mobiiltelefon%20Sony%20Xperia%20Z3%20must%20eest.jpg" id="120649" class="original jsListProductImage" alt="mobiiltelefon Sony Xperia Z3 (must)" style="display: inline;">
        
              </a>
            </figure>
            <div class="tsr-product-content">
        
              <div class="tsr-product-header" style="height: 61px;">
                <h6>
                  <a href="/productInfo/29/mobiiltelefon-sony-xperia-z3-(must)/1288-1948" class="jsRememberMe three-dot-text-grid-truncated">
                    Kingiks aastajagu muusikat
                  </a>
                </h6>

              </div>
                <p>
                  Uue telefoni ja EMT Internetiga kingime Sulle Spotify Premium'i aastaks hinnaga 0 €/kuus. 
                </p>
        
              <!-- <p class="tsr-product-price ee-product-price-md" style="height: 28px;"><span>&nbsp;649 €</span></p> -->
        
            </div>
          </div>
        </div>
        <div class="col-five-on-small" >
          <div class="tsr-module-product ee-blockview" style="height: 295px;">
            <figure class="tsr-product-image">
              <a href="/productInfo/29/mobiiltelefon-sony-xperia-z3-(must)/1288-1948" class="jsRememberMe">
        
                <img src="assets/img/offers/Elion-kinkepakk-Soovidega.jpg" data-original="https://pood.elion.ee/productInfo/29/mobiiltelefon-sony-xperia-m2-aqua-(pronks)/1288-4595" id="120649" class="original jsListProductImage" alt="mobiiltelefon Sony Xperia Z3 (must)" style="display: inline;">
        
              </a>
            </figure>
            <div class="tsr-product-content">
        
              <div class="tsr-product-header" style="height: 61px;">
                <h6>
                  <a href="/productInfo/29/mobiiltelefon-sony-xperia-z3-(must)/1288-1948" style="margin-left: 15px;">
                    Tore jõulupakkumine
                  </a>
                </h6>

              </div>
                <p>
                  Mingi muu pakkumine. 
                </p>
        
              <!-- <p class="tsr-product-price ee-product-price-md" style="height: 28px;"><span>&nbsp;649 €</span></p> -->
        
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

