 
// VARIABLES AND MIXINS 
//**********************************
/* @include tsr-bootstrap/_variables.scss */
/* @include _bs-ee-variables.scss */ 
/* @include _mixins.scss */


// TELIA SONERA
//**********************************
/* @include _tsr-core.scss */

// BOOTSTRAP
//**********************************
/* @include _normalize.scss */
/* @include _scaffolding.scss */ 
/* @include _grid.scss */
/* @include _alerts.scss */
/* @include _buttons.scss */
/* @include _button-groups.scss */
/* @include _close.scss */
/* @include _component-animations.scss */
/* @include _dropdowns.scss */
/* @include _forms.scss */
/* @include _glyphicons.scss */
/* @include _input-groups.scss */
/* @include _labels.scss */
/* @include _list-group.scss */
/* @include _media.scss */
/* @include _navs.scss */
/* @include _navbar.scss */
/* @include _responsive-utilities.scss */ 
/* @include _panels.scss */
/* @include _print.scss */
/* @include _popovers.scss */
/* @include _tables.scss */
/* @include _type.scss */
/* @include _utilities.scss */
/* @include _modals.scss */
/* @include _wells.scss */


// VILJAR SALU
//******************
/* @include tsr-bootstrap/_mixins.scss */
/* @include tsr-bootstrap/_buttons.scss */
/* @include tsr-bootstrap/_type.scss */
/* @include tsr-bootstrap/_icons.scss */
/* @include tsr-bootstrap/_badges.scss */
/* @include tsr-bootstrap/_responsive-utilities.scss */
/* @include tsr-bootstrap/_elion.scss */
/* @include tsr-bootstrap/header/_header-navigation.scss */
/* @include tsr-bootstrap/header/_sidenavigation.scss */
/* @include tsr-bootstrap/header/_burgerize.scss */
/* @include tsr-bootstrap/header/_side-in-menu.scss */
/* @include tsr-bootstrap/header/_searchbox-responsive.scss */
/* @include tsr-bootstrap/_footer.scss */
/* @include tsr-bootstrap/_forms.scss */
/* @include tsr-bootstrap/_alerts.scss */
/* @include tsr-bootstrap/_progress-steps.scss */

// CUSTOM OVERWRIDES AND ADDITIONS TO BS3
//**********************************
/* @include _bs-ee-breadcrumbs.scss */
/* @include _bs-ee-navs.scss */

// PLUGINS
//**********************************
/* @include _flexslider.css */
/* @include _socialcount-with-icons.scss */
/* @include _slider.scss */
/* @include _bootstrap-editable.scss */
/* @include _summernote.scss */
/* @include _font-awesome.scss */
/* @include _pickadate-classic.scss */
/* @include _pickadate-classic.date.scss */
/* @include _pickadate-classic.time.scss */


// CUSTOM OVERWRIDES AND ADDITIONS TO TSR
//**********************************
/* @include _ee-typography.scss */
/* @include _ee-tacticalElements.scss */
/* @include _ee-communication-primary.scss */
/* @include _ee-buttonsAndLinks.scss */
/* @include _ee-sidemenu.scss */
/* @include _ee-product.scss */
/* @include _ee-frontpage.scss */
/* @include _ee-2nd-level-list.scss */
/* @include _ee-banner-ad.scss */
/* @include _ee-loaders.scss */
/* @include _ee-accordion.scss */
/* @include _ee-detail-page.scss */
/* @include _ee-reviews.scss */
/* @include _ee-2nd-level-general-parts.scss */
/* @include _ee-productslider.scss */
/* @include _ee-compare.scss */
/* @include _ee-cart.scss */
/* @include _ee-switch.scss */
/* @include _ee-inputs.scss */
/* @include _ee-select.scss */
/* @include _ee-hero.scss */

// custom styles for header
header > div .menu__main .navbar-nav > li > a > span.icon {
  margin-left: auto;
  margin-right: auto;
}
.searchbox-responsive.navbar-form button.btn-search {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  padding: 7px 0;
  margin: 0;
  border-radius: 0;
}

.burger header > div .sidemenu .sidemenu-menu.left .sidemenu .sidemenu-toggle:before,
.sidemenu .sidemenu-menu.left .sidemenu .sidemenu-toggle:before,
.sidemenu.open > .sidemenu-menu.left .sidemenu.open .sidemenu-toggle:before {
  @extend .icon-arrow-right;
  @extend .icon;
}

.burger header > div .menu__main > div .navbar-collapse .navbar-nav > li a:before, 
.sidemenu-toggle:before, 
header > div .menu__main > div .navbar-collapse .navbar-nav > li a:before {
  @extend .icon;
}

.sidemenu .sidemenu-menu.right .sidemenu .sidemenu-toggle:before, 
.sidemenu.open > .sidemenu-menu.right .sidemenu.open .sidemenu-toggle:before {
  @extend .icon-arrow-left;
}

header > div .header-menu__main > div .mobile-icons > ul > li > .sidemenu-toggle:hover, 
header > div .header-menu__main > div .mobile-icons > ul > li > .sidemenu-toggle:focus, 
header > div .header-menu__main > div .mobile-icons > ul > li > .sidemenu-toggle.active {
  text-decoration: none;
}

.searchbox-responsive.navbar-form.focus button {
  color: $brand-primary;
}

@media (min-width: 768px) {
  .navbar-form.navbar-right:last-child {
    margin-right: 0px;
  }
  .navbar-right {
    margin-right: -15px;
  }
}

// http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass
@function set-notification-text-color($color) {
  @if (lightness($color) > 50) {
    @return $purple-c; // Lighter backgorund, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}

// flashbanner

.swiffy-wrap { 
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;
}

#swiffycontainer {
  width : 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
}


// FOUND
.ee-found-tabs {
  table {
    img {
      height: 64px;
      width: 64px;
    }
    td.blue-text {
      font-size: $font-size-h4;
      font-weight: bold;
      white-space: nowrap;
    }
    tbody > tr >  td {
      vertical-align: middle;
    }
    tbody > tr:first-of-type > td {
      border-top: none;
    }
  }
  .ee-btn-buy {
    font-size: 1.06667em;
    width: auto; 
    font-weight: 500;
    padding: 6px 12px;
    margin: 12px 12px 0 0;
  }
  .ee-compare {
    display: inline-block;
    margin: 10px 10px 0 10px;
     @include media-min($screen-sm) {
    margin: 10px;
    } 
  }
}

.panel-group .table-responsive {
  margin-bottom: -1;
}

.found-listed {
  margin: 20px 0;
  li {
    margin-top: 10px;
  }
  strong {
    color: $purple-c;
  }
}

.text-link {
  color: inherit;
}


// Care-page css
// *****************

.ee-care-page {
  .panel-body {
    padding-left: 75px;
  }
  h3 {
    margin-top: 30px;
  }
}

.dl-horizontal.dl-wide-300 {
  dt {
    width: auto;
    @include media-min($screen-sm) {
      width: 300px;
      text-align: left;
    }
  }
 dd {
    margin-left: 0;
    @include media-min($screen-sm) {
      margin-left: 320px;
    }
  }
}

// TEMPORARY HACKS, TO BE REMOVED
//**********************************

// mobile view, make links clickable full 

h4 {
  font-weight: 500;
}

.tsr-forms .form-group.has-error .form-control  input[type='text'], 
.tsr-forms .form-group.has-error .form-control  input[type='password'] {
  border-color: $state-danger-text!important;
  color: $state-danger-text!important;
}

.panel {
  box-shadow: none;
}
.megamenu .list-group .dropdown-header > h6 > a {
width: 100%;
display: block;
}

// .navbar-default .user-menu.navbar-nav > li > a:after {
//   background-color: #51246B;
// }

// .navbar-default .user-menu.navbar-nav > li > a, 
// .navbar-default .user-menu.navbar-nav > li > a:active, 
// {
//   color: #fff;
// }

// .navbar-default .navbar-nav > li > a:after {
//   background: $lightgrey-t;
// }

.flashText-ribbon-inner {
  display: block;
  width: 60px;
  max-width: 60px;
  .ee-big {
    margin-left: 18%;
  }
}

  
.ie8 .ee-flashtext-container {
 position: absolute;
 top: 25px;
 left: 15px;
}

.ie8 #browserAlert, 
.ie9 #browserAlert {
  display: block;
}

.ie9 {
  .tsr-tactical-flash {
    position: absolute;
  }

    .tsr-tactical-flash:first-of-type {
    top: 50px;
    z-index: 2;
  }
  .tsr-tactical-flash:nth-of-type(2) {
    top: 115px;
    z-index: 3;
  }

  .tsr-tactical-flash:nth-of-type(3) {
    top: 165px;
    z-index: 5;
    right: 15px;
  }

}
 
// http://pauginer.tumblr.com/post/36614680636/invisible-gradient-technique
// .navbar-default .navbar-brand {
//   display: block;
//   width: 180px;
//   height: 80px; 
//   background: transparent url(../img/branding/elion-logo.png) left center no-repeat;
//   background-image: -webkit-linear-gradient(transparent, transparent), url(../img/branding/elion-logo.svg);
//   background-image: linear-gradient(transparent, transparent), url(../img/branding/elion-logo.svg);
// }

// .navbar > .container .navbar-brand {
//   margin-left: 0;
// }

.ee-thinline-bottom {
  margin-bottom: -1px;
}

.ee-top-10 {
  margin-top: 10px;
}

.ee-top-0 {
  margin-top: 0 !important;
}

.ee-top-10-xs {
  margin-top: 10px;
  @include media-min($screen-sm) {
    margin-top: 0;
  }
}

.ee-top-20 {
  margin-top: 20px;
}

.ee-top-20-xs {
  margin-top: 20px;
  @include media-min($screen-sm) {
    margin-top: 0;
  }
}

.ee-top-30 {
  margin-top: 30px;
}

.ee-top-0-xs {
  @include media-max($screen-xs-max) {
    margin-top: 0 !important;
  }
}

.ee-bottom-0 {
  margin-bottom: 0 !important;
}

.ee-bottom-5 {
  margin-bottom: 5px;
}

.ee-bottom-10 {
  margin-bottom: 10px;
}

.ee-bottom-10-xs {
  margin-bottom: 10px;
  @include media-min($screen-sm) {
    margin-bottom: 0px;
  }
}

.ee-bottom-20 {
  margin-bottom: 20px;
}

.ee-bottom-20-xs {
  margin-bottom: 20px;
  @include media-min($screen-sm) {
    margin-bottom: 0px;
  }
}

.ee-bottom-0-xs {
  @include media-max($screen-xs-max) {
    margin-bottom: 0 !important;
  }
}

.ee-text-left-sm {
  @include media-max($screen-sm-max) {
    text-align: left !important;
  }
}

.ee-inline-block {
  display: inline-block;
}

.ee-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: $screen-xs-max) {
  .mobile-pull-left {
    float: left !important;
  }
}

.ee-left-10 {
  margin-left: 10px;
}

.ee-right-10 {
  margin-right: 10px;
}

// .input-group {
//   input[type="text"], 
//   input[type="password"], 
//   input[type="search"] {
    
//     box-shadow: inset 0 -4px 0 0 $lightgrey-c;
//     height: 37px;
//     .ee-default:focus,
//     .ee-default:hover {
//       box-shadow: inset 0 -4px 0 0 lighten($turquoise-h, 40%);
//       box-shadow: inset 0 -4px 0 0 lighten($turquoise-h, 40%);
//     }

//   }
// }

.ee-hidden-xs {
  display: none !important;
    @include media-min($screen-sm) {
    display: inline-block  !important;
  } 
}
.padding-reset {
  padding: 0;
    @include media-min($screen-sm) {
    padding-left: 15px;
    padding-right: 15px;
  } 
}
*:focus {
outline: none !important;
}
.btn:active,
.btn.active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.dropdown-menu.inverse-dropdown{
  background-color: $brand-primary;
  border-color: none;
  & > li > a{
    color: #fff;
    &:hover{
      color: #fff;
      background-color: $link-hover-color;
    }
  }
}

// @media (min-width: 1420px) {
//   .container {    width: 1393px;  }
// }

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.admin.dropdown-menu {
  top: auto;
}
// Alert

// .alert {
//   display: none;
// }

.flyover {
   top: -250px;
   position: fixed;
   width: 100%;
   z-index: 1500;
   transition: top 0.3s ease-out 0s;
}

.flyover.in {
   top: 0px;
}

@media (min-width: $screen-sm) {
   .flyover.in.top {
    top: 0px;
   }
 
  .flyover.in.middle {
   top: 40px;
  }
}

.alert {
  a:not(.close-btn) {
    text-decoration: underline;
  }
  div>span {
    @include media-max($screen-xs-max) {
      display: block;
    }
  }
}
.alert .container > div .read-more {
color: #FFF;
line-height: 1;
margin-top: -7px;
position: relative;
top: 10px;
display: inline-block;
@media (min-width: $screen-sm) {
  position: absolute;

   }
  &.first {
    font-weight: normal;
    border-right: 1px solid #FFF;
    right: 80px;
  }
  &.second {
    font-weight: bold;
    right: 0;
    border-right: none;
  }
}

.sub-menu ul li > p {
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}
// WORK IN PROGRESS PARTS
//**********************************

  .ee-flash-sm {
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    font-size: em(16);
    width: em(47);
    height: em(47);
    z-index: 1;
    &:before {
    width: em(47);
    height: em(47);
    }
    //  .ee-small {
    //   font-size: 11px;
    //   padding: 2px 3px;
    // }
  }

  .tsr-second:before {
    background: $blue-c;
  }

.ee-flashtext-container {
text-align: center;
display: table-cell;
width: 60px;
max-width: 60px;
height: auto;
vertical-align: middle;

  .ee-small {
  font-size: 12px;
  font-weight: 400;
  }

  .ee-big {
  font-weight: bold;
  font-size: 8px;
  }
}

.ee-flash-sm .ee-flashtext-container {
  max-width: 50px;
  width: 50px;
}

.ee-flash-sm .ee-flashtext-container .ee-small {
  font-size: 11px;
}


.flashText-ribbon {
  width: 60px;
  max-width: 60px;
 }


footer .social-block .media .icon {
  line-height: 26px;
  text-align: center;
}

.tsr-forms {
  input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      *overflow: hidden;
  }
  label {
    font-weight: normal;
    display: block; 
  }
}

.selectboxit-option-icon-container {
  width: 50px;
  overflow: auto;
  height: 100%;
  display: inline-block;
  padding-left: 10px;
  float: right;
}

.selectboxit-option-icon-url {
  width: 40px;
  height: 24px;
  background-size: 53px 50px;
  background-repeat: no-repeat;
  background-position: 0 -2px;
  float: left;
  &:hover  {
    background-position: left;
  }
}

.selectboxit-btn {
  .selectboxit-option-icon-container {
    display: none;
  }
}

.selectboxit-focus {
  .selectboxit-option-icon-url {
    background-position: 0 -29px;
  }
}



label.control-label-left {
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.has-error .control-label-left {
  color: $orange-c;
}

.has-error .input-group-addon {
  border-color: $orange-c;
}
.rating-input {
  display: inline-block;
  margin-left: 20px;
  .icon {
    color: $purple-c;
    font-size: 18px;
    margin-right: 2px;
  }
}

.table > thead > tr > th {
  padding: em(10) em(12);
  background-color: $lightgrey-c;
  font-weight: normal;
  font-size: 140%;
  border-bottom: 1px solid $lightgrey-t;
}

.table > tbody > tr > td {
  padding: em(14);
  font-size: 95%;
  a {
    width: 100%; 
    display: block;
  }
  i {
    float:right; 
    font-size: 12px; 
    line-height: 2;
  }
}

.well {
    background: #fff;
    border-style: solid;
    border-width: 2px;
  .icon {
    font-size: 120%;
    padding-right: 25px;
    vertical-align: top;
    float: left;
  }
    p {
    display: inline-block;
    vertical-align: top;
  }
}
.info-well {
  border-color: $blue-c;
  color: $blue-t;
}

.primary-well {
  border-color: $purple-c;
  color: $purple-t;
}
.error-well {
  border-color: $orange-c;
  color: $orange-t;

  .close {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.panel {
  border-width: 2px;
}

.ee-linkicons.list-inline > li {
  padding-left: 0;
  padding-right: 10px;
}

.ee-truncate {
  display: block;
  @include text-overflow();
}

.tsr-checkbox {
  .control-label-left {
    padding-left: 30px;
  }
}

#additional-products-modal {
  .modal-header {
    border-bottom: none;
  }
  .modal-body {
    padding: 0 15px;
    .ee-buy {
      margin: 15px 0;
      display: block;
    }
  }
  .modal-footer {
    border-color: $lightgrey-t;
    margin-top: 20px;
  }
}

.ee-overview-prices {
  margin-bottom: 10px;
  h4,
  h6 {
    margin-bottom: 0;
  }
  @include media-max($screen-xs-max) {
    .col-xs-5 {
      padding-left: 0;
    }
    .col-xs-7 {
      padding-right: 0;
    }
  }
}

.ee-filters-list {
  ul.filter {
    margin: 10px 0;
    padding-left: 0;
    list-style: none;
    li {
      padding: 5px 15px;
      color: $brand-primary;
      &:hover {
        color: $brand-primary-a;
      }
      &.header {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 5px 0;
        padding: 7px 15px;
        i {
          font-size: .9em;
        }
      }
      &.collapse-trigger {
        border-top: 3px solid $brand-primary;
        text-align: center;
        cursor: pointer;
        i {
          @extend .icon;
          &:after {
            content: "\e668";
          }
        }
        &.collapsed {
          i:after {
            content: "\e65f";
          }
        }
      }
      label {
        cursor: pointer;
      }
      a {
        color: $text-color;
      }
      .tsr-checkbox {
        .tsr-checkboxStyled {
          margin-top: 2px;
        }
      }
      .control-label-left {
        font-weight: normal;
        padding-top: 0;
      }
    }
  }
}

.white-bg {
  background-color: #fff;
}

.btn .icon { margin-right: 5px; }

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  @media (max-width: $screen-xs-max) {
    position: relative;
  }
}
