.ee-shopping {
  margin-top: 20px;
  .cart-items {
    margin-bottom: 20px;
  }
  .cart-item:not(:last-of-type) {
    border-bottom: 1px solid $lightgrey-t;
    }
  .cart-item {
    margin-top: 20px;
    h3 {
    font-size: 1.6em;
    margin-top: 0px;
    }
    .cart-item-image {
      padding-right: 5px;
      margin-bottom: 5px;
    }
  }
  .ee-price {
    font-size: 1.4em;
    margin-bottom: 14px;
  }
  .ee-accordion {
    border-top: 1px solid $lightgrey-t;
    .panel-heading a {
      font-size: 1.2em;
    }
  }
}
// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}
