<!-- <script src="http://builds.emberjs.com/handlebars-1.0.0-rc.4.js"></script>
<script src="http://builds.emberjs.com/ember-latest-stable.js"></script>
<script src="http://builds.emberjs.com/ember-data-latest.js"></script> -->

<script src="assets/js/visa/progress.js"></script>  
<script src="http://vitalets.github.io/x-editable/assets/mockjax/jquery.mockjax.js"></script> 
<script src="assets/js/bootstrap-editable.js"></script>  
 
<script src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/inputs-ext/typeaheadjs/typeaheadjs.js"></script>  
<script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>  
<!-- Pickadate -->
<script src="assets/js/vendor/pickadate-picker.js"></script>
<script src="assets/js/vendor/pickadate-picker.date.js"></script>
<script src="assets/js/vendor/pickadate-et_EE.js"></script> 
<script src="assets/js/vendor/pickadate-picker.time.js"></script> 
<script src="assets/js/vendor/pickadate-legacy.js"></script>

<!-- Summernote --> 
<script src="assets/js/vendor/summernote.min.js"></script> 

<script>

// Plus-minus buttons
//plugin bootstrap minus and plus
//http://jsfiddle.net/laelitenetwork/puJ6G/

$(function(){
  
  $('.btn-number').click(function(e){
      e.preventDefault();
      
      fieldName = $(this).attr('data-field');
      type      = $(this).attr('data-type');
      var input = $("input[name='"+fieldName+"']");
      var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
          if(type == 'minus') {
              
              if(currentVal > input.attr('min')) {
                  input.val(currentVal - 1).change();
              } 
              if(parseInt(input.val()) == input.attr('min')) {
                  $(this).attr('disabled', true);
              }

          } else if(type == 'plus') {

              if(currentVal < input.attr('max')) {
                  input.val(currentVal + 1).change();
              }
              if(parseInt(input.val()) == input.attr('max')) {
                  $(this).attr('disabled', true);
              }

          }
      } else {
          input.val(0);
      }
  });
  $('.input-number').focusin(function(){
     $(this).data('oldValue', $(this).val());
  });
  $('.input-number').change(function() {
      
      minValue =  parseInt($(this).attr('min'));
      maxValue =  parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());
      
      name = $(this).attr('name');
      if(valueCurrent >= minValue) {
          $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
      } else {
          alert('Sorry, the minimum value was reached');
          $(this).val($(this).data('oldValue'));
      }
      if(valueCurrent <= maxValue) {
          $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
      } else {
          alert('Sorry, the maximum value was reached');
          $(this).val($(this).data('oldValue'));
      }
      
      
  });
  $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
// End Plusminus

    // Calls the selectBoxIt method on your HTML select box
  // $("#chooseRole").selectBoxIt({
  //   defaultText: "Vali roll"
  // });

  // $("#choosePayment").selectBoxIt({
  //   defaultText: "Vali makseviis"
  // });

  // Adjusting height of the row oncklick
  if(Modernizr.mq('only screen and (min-width: 768px)')) {
    $('.js-flexrow').on('show.bs.collapse', function () {
      $(this).parent().parent().css('height', '150px');
    })
    $('.js-flexrow').on('hide.bs.collapse', function () {
      $(this).parent().parent().css('height', '90px');
    })
  }

  // Call calendar and timepicker in general
  // ----------------------------
    $('.datepicker').pickadate({editable: true});
    $('.timepicker').pickatime({editable: true});

    // Initialize Summernote Editor
    $('.summernote').summernote({
      airPopover: [
    ['color', ['color']],
    ['font', ['bold', 'underline', 'clear']],
    ['para', ['ul', 'paragraph']],
    ['table', ['table']],
    ['insert', ['link', 'picture']]
  ]
    });

});

// Call xeditable
//-------------------
$.fn.editable.defaults.mode = 'inline';
$(document).ready(function() {
  $('#nimi').editable();
  $('#epost').editable();
  $('#telefon').editable();
  $('#mobiil').editable();
  $('#tarneaadress').editable();
  $('#nimi-shop').editable();
  $('#telefon-shop').editable();
  $('#courierDate').editable();

  $('#aadress').editable({
    mode: 'inline',
    showbuttons: true,
    url: '/post',
    pk: 1,
    title: 'Enter an Italian city',
    typeahead: {
        local: ['Väike-Konnakotka tänav 46-17 Lääne Virumaa Kohtla-Järve', 'Milan', 'Venice', 'Florence']
    }
  });
});

$(".datepicker").editable({
    tpl: "<input type='text' class='form-control'></input>",
    format: "yyyy-mm-dd hh:ii" 
});

$(".timepicker").editable({
    tpl: "<input type='text' class='form-control'></input>",
    format: "yyyy-mm-dd hh:ii" 
});


// Aboutme-page select behavior
//--------------------------------

$('#paymentInfoEttemaks').hide();
$('#paymentInfoJarelmaks').hide();

var paymentSelectBox = $("#choosePayment");
paymentSelectBox.on("change", function() {

  if ($(this).val() == "Ettemaksuga") {
    $('#paymentInfoEttemaks').show();
    $('#paymentInfoPangalink').hide();
    $('#paymentInfoJarelmaks').hide();
  }
  else if ($(this).val() == "Järelmaksuga") {
    $('#paymentInfoEttemaks').hide();
    $('#paymentInfoPangalink').hide();
    $('#paymentInfoJarelmaks').show();
  }
  else {
    $('#paymentInfoEttemaks').hide();
    $('#paymentInfoPangalink').show();
    $('#paymentInfoJarelmaks').hide();
  }

});

// Devlivery-page select behavior
//--------------------------------
$('#deliveryWhereShop').hide();
$('#deliveryWhereOmniva').hide();
$('#deliveryInfoCourier').hide();
$('#deliveryInfoItella').hide();

var deliverySelectBox = $("#chooseDelivery");
deliverySelectBox.on("change", function() {

  if ($(this).val() == "Kulleriga koju/kontorisse kätte (3,50 €)") {
    $('#deliveryWhereOmniva').hide();
    $('#deliveryInfoItella').hide();
    $('#deliveryWhereCourier').show();
    $('#deliveryInfoCourier').show();
    $('#deliveryWhereShop').hide();
    $('#deliveryInfoShop').hide();
  } 
  else if ($(this).val() == "Pakiautomaadist (tasuta)") {
    $('#deliveryWhereOmniva').show();
    $('#deliveryInfoItella').show();
    $('#deliveryWhereCourier').hide();
    $('#deliveryInfoCourier').hide();
    $('#deliveryWhereShop').hide();
    $('#deliveryInfoShop').hide();
  } 
  else {
    $('#deliveryWhereCourier').hide();
    $('#deliveryWhereOmniva').hide();
    $('#deliveryInfoCourier').hide();
    $('#deliveryInfoItella').hide();
    $('#deliveryWhereShop').show();
    $('#deliveryInfoShop').show();
  }
});

// aboutyou-page select behavior
//--------------------------------
$('#itellaLogo').hide();

var roleSelectBox = $("#chooseSpot");
roleSelectBox.on("change", function() {
  if ($(this).val().indexOf("Itella")> -1 ) {
    $('#itellaLogo').show();
    $('#omnivaLogo').hide();
  } 
  else  if ($(this).val().indexOf("Omniva")> -1 ) {
    $('#itellaLogo').hide();
    $('#omnivaLogo').show();
  } 
  else {
    $('#itellaLogo').show();
    $('#omnivaLogo').hide();
  }
});



// ajax emulation for proto
// ------------------
$.mockjax({
    url: '/post',
    responseTime: 400,
    response: function (settings) {
        if (settings.data.value == 'err') {
            this.status = 500;
            this.responseText = 'Validation error!';
        } else {
            this.responseText = '';
        }
    }
});

// Extend pickadate v3 to get “from” and “to” time functionality with a length duration display
// -------------------------------------
// http://codepen.io/amsul/pen/IhCxf
var from_$input = $('#input_from').pickatime({
  clear: ' ',
  format: 'HH:i',
  min: [8, 0],
  max: [18, 0],
  editable: true
}),

from_picker = from_$input.pickatime('picker')

var to_$input = $('#input_to').pickatime({
        clear: ' ',
        format: 'HH:i',
        min: [8, 0],
        max: [18, 0],
        editable: true,
        formatLabel: function( timeObject ) {
            var minObject = this.get( 'min' ),
                hours = timeObject.hour - minObject.hour,
                mins = ( timeObject.mins - minObject.mins ) / 60,
                pluralize = function( number, word ) {
                    return number + ' ' + ( number === 1 ? word : word + 's' )
                }
            return '<b>H</b>:i <sm!all>(' + pluralize( hours + mins, '!hour' ) + ')</sm!all>'
        }
    }),
    to_picker = to_$input.pickatime('picker')


// Check if there’s a “from” or “to” time to start with.
if ( from_picker.get('value') ) {
  to_picker.set('min', from_picker.get('select'))
}
if ( to_picker.get('value') ) {
  from_picker.set('max', to_picker.get('select') )
}

// When something is selected, update the “from” and “to” limits.
from_picker.on('set', function(event) {
  if ( event.select ) {
    to_picker.set('min', from_picker.get('select'))
  }
})
to_picker.on('set', function(event) {
  if ( event.select ) {
    from_picker.set('max', to_picker.get('select'))
  }
})



// http://jsbin.com/uzekop/1/edit?html,js,output
//EMBER APP TEMPLATE
// App = Ember.Application.create();

// App.ApplicationRoute = Ember.Route.extend({
//   model: function(){
//       return [
//           {name: 'Kris', template: 'kris'},
//           {name: 'Luke', template: 'luke'},
//           {name: 'Alex', template: 'alex'}
//       ];
//   }
// });

// App.EmbeddedView = Ember.View.extend({
//   templateName: Ember.computed.alias('controller.selected'),
//   templateNameDidChange: function() {
//     this.rerender();
//   }.observes('templateName')
// });

</script>

