<div class="alert full-size flyover alert-success in" id="success1">
    <div class="container">
        <span class="icon icon-info"></span>
        <div>
            <span>Tootega saad kaasa <span class="h3">soodustuse,</span> tee siin oma valik ja jätka ostmist. </span>
            <!-- <a class="read-more" href="#">
                <span class="icon icon-arrow-right"></span>Sain aru, sulge
            </a> -->
        </div>
        <a href="javascript:$('#success1').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>