$border-color: #ccc !default;
$highlight-color: $brand-primary; 
$gutter-width: 1.5rem !default;
$label-font-size: .8125rem;

.ee-input {
  position: relative;
  margin-top: 0;

  &.ee-input-has-label {
    margin-top: .9rem;
    // TODO: create mixin
    [placeholder]::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.4s; 
      transition: opacity 0.4s;
    }
    [placeholder]:-moz-placeholder {
      /* FF 4-18 */
      opacity: 0;
      -webkit-transition: opacity 0.4s; 
      transition: opacity 0.4s;
    }
    [placeholder]::-moz-placeholder {
      /* FF 19+ */
      opacity: 0;
      -webkit-transition: opacity 0.4s; 
      transition: opacity 0.4s;
    }
    [placeholder]:-ms-input-placeholder {
      /* IE 10+ */
      color: $lightgrey-c;
    }

    [placeholder]:focus::-webkit-input-placeholder {
      opacity: 1;
    }
    [placeholder]:focus:-moz-placeholder {
      /* FF 4-18 */
      opacity: 1;
    }
    [placeholder]:focus::-moz-placeholder {
      /* FF 19+ */
      opacity: 1;
    }
    [placeholder]:focus:-ms-input-placeholder {
      /* IE 10+ */
      color: #333;
    }
  }

  &.datepicker-input {
    .icon-calendar {
      position: absolute;
      right: 0;
      top: 7px;
      color: #999;
      cursor: pointer;
    }
  }

  label {
    position: absolute;
    top: 0.4rem;
    left: 0;
    font-size: $font-size-base;
    font-weight: normal;
    cursor: text;
    margin: 0;
    line-height: normal;
    @include transition(.2s ease-out);
  }
  label.active {
    font-size: $label-font-size;
    font-weight: normal;
    color: #999;
    @include transform(translateY(-130%));
  }

  span {
    font-size: $label-font-size;
    float: right; 
  }

  textarea {
      width: 100%;
      height: 3em;
      background-color: transparent;
      + label.active {
          color: $border-color;
      }
    }

  input[type=text]:focus + label,
  input[type=password]:focus + label,
  input[type=email]:focus + label,
  input[type=date]:focus + label,
  input[type=tel]:focus + label,
  input[type=number]:focus + label,
  textarea:focus + label {
    color: $highlight-color;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=date],
  input[type=tel],
  input[type=number],
  textarea {
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: transparent;
    color: #333;
    outline: none;
    height: 2.1rem;
    width: 100%;
    text-indent: 0;
    font-size: $font-size-base;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: normal;
    @include box-shadow(none);
    @include box-sizing(content-box);
    @include transition(.3s);
  }

  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=date]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  textarea:focus,
  input[type=text]:active,
  input[type=password]:active,
  input[type=email]:active,
  input[type=date]:active,
  input[type=tel]:active,
  input[type=number]:active,
  textarea:active {
    border: 0;
    border-bottom: 1px solid $highlight-color;
    @include box-shadow(0 1px 0 0 $highlight-color);
  }

  textarea {
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: .5em 0; /* prevents text jump on Enter keypress */
    resize: none;
  }

  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="search"][disabled],
  input[type="text"][disabled] + label,
  input[type="password"][disabled] + label,
  input[type="search"][disabled] + label {
    color: #999;
    border-color: #bbb;
    background-color: transparent;
    -webkit-text-fill-color: #999;
    -webkit-opacity: 1;
  }

  input,
  textarea {
    &.input-validation-error {
      border-color: $orange-c;
      + label {
        color: $orange-c;
        + span {
          color: $orange-c;
        }
      }
      &:focus + label {
        color: $orange-c;
      }
      + span {
        color: $orange-c;
        float: right;
        + label {
          color: $orange-c;
        }
      }
      
      &:focus {
        border-color: $orange-c;
        @include box-shadow(0 1px 0 0 $orange-c);
      }
    }
  }

}

.input-group {
  &.ee-input-group-has-label {
    margin-top: .9rem;
  }
  .ee-input {
    display: table-cell;
    width: 100%;
    input {
      height: 36px;
      font-weight: bold;
    }
    input:focus {
      height: 35px;
    }
  }
}

//////// Input Checkbox



  .tsr-checkbox{
      cursor:pointer;

      input[type='checkbox']{
        display:none;
      }

      .tsr-checkboxStyled{
        background:$white;
        border:1px solid #ccc;
        width: 18px;
        height: 18px;
        display:block;
        position:relative;
        border-radius: 2px;
        float:left;
        margin: 2px 0 0;
        border-radius: 2px;
        line-height: 1.4;
        &:before{
          display:none;
        }

      } 


      &:focus .tsr-checkboxStyled,
      &:active .tsr-checkboxStyled{
        outline:none;
      }

      // Checked
      &.checked{

        .tsr-checkboxStyled,
        .tsr-checkboxStyled:active{
          &:before{
            font-family: 'tsr-icons-all';
            width:18px;
            height:18px;
            position:absolute;
            top:22%;
            left:50%;
            margin:-8px 0 0 -6px;
            color:$purple-c;
            font-size:16px;
            display:block;
            content: "\e6f1";
            

          }
        } 

      }
    
      // Disabled
        &.disabled{
            color: $dropdown-link-disabled-color;
            background-color: transparent !important;
            border-color: transparent !important;
            &:hover,
            &:active {
                color: $dropdown-link-disabled-color;
            }
            .ee-checkboxStyled{
                background: #fff;
                &:focus,
                &:active{
                    border:1px solid $dropdown-link-disabled-color;
                    background:$dropdown-link-disabled-color;
                    &:before{
                        display:none;
                    }
                }
            } // .tsr-checkboxStyled END

            &.checked{
                .ee-checkboxStyled:before{
                    color:$dropdown-link-disabled-color;
                }
            }

        } // .disabled END

        // Invalid
        &.input-validation-error{
            color: $orange-c;
            .ee-checkboxStyled {
                border-color: $orange-c;
            }
            &.checked{
                .ee-checkboxStyled,
                .ee-checkboxStyled:active{
                    color: $orange-c;
                    &:before{
                        color:$orange-c;
                    }
                }   
            }

        } // .invalid END

    }




//////// Input Radio 

  .tsr-radio{
      cursor:pointer;
      position:relative;

      // &:before{
      //  font-family: 'tsr-icons-all';
      //  content: "\e666";
      //  width:20px;
      //  height:20px;
      //  position:absolute;
      //  top:-5px;
      //  left:0;
      //  margin:0;
      //  font-size:20px;
      //  display:block;
      //  color: $lightgrey-t;
      // }

      // &:after{
      //  font-family: 'tsr-icons-all';
      //  content: "\e666";
      //  width:18px;
      //  height:18px;
      //  position:absolute;
      //  top:-3px;
      //  left:1px;
      //  margin:0;
      //  font-size:18px;
      //  display:block;
      //  color:#fff;
      // }


      input[type='radio']{
        display:none;
      }

      .tsr-radioStyled{
        @include border-radius(20px);
        background:$white;
        border:1px solid $purple-c;
        width:18px;
        height:18px;
        display:block;
        position:relative;
        padding-right:6px;
        float:left;
        line-height:1;



      } 


      &:focus .tsr-radioStyled,
      &:active .tsr-radioStyled{
        outline:none;
      }

      // Checked
      &.checked{

        .tsr-radioStyled,
        .tsr-radioStyled:active{
          &:before{
            font-family: 'tsr-icons-all';
            content: "\e666";
            position: absolute;
            top: 62%;
            left: 57%;
            margin: -5px 0 0 -5px;
            font-size: 10px;
            display: block;
            color: $purple-c;
            z-index:1;
          }
        } 

      }
    
      // Disabled
      &.disabled{

        color: $dropdown-link-disabled-color;
            background-color: transparent !important;
            border-color: transparent !important;
            &:hover,
            &:active {
                color: $dropdown-link-disabled-color;
            }
            .ee-radioStyled {
                border-color: $dropdown-link-disabled-color;
            }
            &.checked{
                .ee-radioStyled,
                .ee-radioStyled:active{
                    &:before{
                        color: $dropdown-link-disabled-color;
                    }
                }   
            }
        

      } // .disabled END

      // Invalid
      &.input-validation-error{

        color: $orange-c;
            .ee-radioStyled {
                border-color: $orange-c;
            }
            &.checked{
                .ee-radioStyled,
                .ee-radioStyled:active{
                    color: $orange-c;
                    &:before{
                        color: $orange-c;
                    }
                }   
            }
      } // .invalid END

    }
