$border-color: #ccc !default;
$highlight-color: $brand-primary; 
$gutter-width: 1.5rem !default;
$label-font-size: .8125rem;

.ee-input {
  position: relative;
  margin-top: 0;

  &.ee-input-has-label {
    margin-top: .9rem;
    // TODO: create mixin
    [placeholder]::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.4s; 
      transition: opacity 0.4s;
    }
    [placeholder]:-moz-placeholder {
      /* FF 4-18 */
      opacity: 0;
      -webkit-transition: opacity 0.4s; 
      transition: opacity 0.4s;
    }
    [placeholder]::-moz-placeholder {
      /* FF 19+ */
      opacity: 0;
      -webkit-transition: opacity 0.4s; 
      transition: opacity 0.4s;
    }
    [placeholder]:-ms-input-placeholder {
      /* IE 10+ */
      color: $lightgrey-c;
    }

    [placeholder]:focus::-webkit-input-placeholder {
      opacity: 1;
    }
    [placeholder]:focus:-moz-placeholder {
      /* FF 4-18 */
      opacity: 1;
    }
    [placeholder]:focus::-moz-placeholder {
      /* FF 19+ */
      opacity: 1;
    }
    [placeholder]:focus:-ms-input-placeholder {
      /* IE 10+ */
      color: #333;
    }
  }

  label {
    position: absolute;
    top: 0.4rem;
    left: 0;
    font-size: $font-size-base;
    font-weight: normal;
    cursor: text;
    margin: 0;
    line-height: normal;
    @include transition(.2s ease-out);
  }
  label.active {
    font-size: $label-font-size;
    font-weight: normal;
    color: #999;
    @include transform(translateY(-130%));
  }

  span {
    font-size: $label-font-size;
    float: right; 
  }

  textarea {
      width: 100%;
      height: 3em;
      background-color: transparent;
      + label.active {
          color: $border-color;
      }
    }

  input[type=text]:focus + label,
  input[type=password]:focus + label,
  input[type=email]:focus + label,
  input[type=date]:focus + label,
  input[type=tel]:focus + label,
  input[type=number]:focus + label,
  textarea:focus.ee-textarea + label {
    color: $highlight-color;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=date],
  input[type=tel],
  input[type=number],
  textarea.ee-textarea {
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: transparent;
    color: #333;
    outline: none;
    height: 2.1rem;
    width: 100%;
    text-indent: 0;
    font-size: $font-size-base;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: normal;
    @include box-shadow(none);
    @include box-sizing(content-box);
    @include transition(.3s);
  }

  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=date]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  textarea:focus.ee-textarea,
  input[type=text]:active,
  input[type=password]:active,
  input[type=email]:active,
  input[type=date]:active,
  input[type=tel]:active,
  input[type=number]:active,
  textarea:active.ee-textarea {
    border: 0;
    border-bottom: 1px solid $highlight-color;
    @include box-shadow(0 1px 0 0 $highlight-color);
  }

  textarea.ee-textarea {
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: .5em 0; /* prevents text jump on Enter keypress */
    resize: none;
  }

  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="search"][disabled],
  input[type="text"][disabled] + label,
  input[type="password"][disabled] + label,
  input[type="search"][disabled] + label {
    color: #bbb;
    border-color: #bbb;
    background-color: transparent;
  }

  input,
  textarea.ee-textarea {
    &.input-validation-error {
      border-color: $orange-c;
      + label {
        color: $orange-c;
        + span {
          color: $orange-c;
        }
      }
      &:focus + label {
        color: $orange-c;
      }
      + span {
        color: $orange-c;
        float: right;
        + label {
          color: $orange-c;
        }
      }
      
      &:focus {
        border-color: $orange-c;
        @include box-shadow(0 1px 0 0 $orange-c);
      }
    }
  }

}

.input-group {
  &.ee-input-group-has-label {
    margin-top: .9rem;
  }
  .ee-input {
    display: table-cell;
    width: 100%;
    input {
      height: 36px;
      font-weight: bold;
    }
    input:focus {
      height: 35px;
    }
  }
}
