/// COMPARE
// **************
.container.xs-not-padded {
  padding-left: 0;
  padding-right: 0;
    @include media-min($screen-sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
}
.ee-product-compare {
  .close {
    font-size: 24px;
    margin: 10px 10px 0 0;
  }

  .img-responsive { 
    margin: 0 auto;
    max-width: 135px;
  }

  .tsr-direction-nav a  {
  top: 50%;
  position: fixed;
    @include media-min($screen-md) {
      display: none;
    }
  }

  .ee-accordion .panel-default .panel-heading a {
    border-top: 1px solid $lightgrey-t;
    margin-top: -1px;
    background-color: $clay-temp;
    font-size: 120%;
      &:hover {
        background-color: $lightgrey-c;
      }
    }

  .panel {
    border: none;
  }

  .panel-group .panel-heading {
    border-top: 1px solid $lightgrey-t;
  }

  .ee-special-price {
    font-weight: bold;
    font-size: 110%;
  }

  .sticky {
      border-bottom: 4px solid $purple-c;
      position: fixed;
      top: 0; 
      left: 0;
      right: 0;
      margin: 0 auto;
      img,
      .ee-buy, 
      .close {
        display: none;
      }
    }

  .comparision-header {
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #fff;
    margin: 0 auto;
    z-index: 5;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightgrey-t;
    &.sticky {
      border-bottom: 4px solid $purple-c;
      position: fixed;
      top: 0; 
      left: 0;
      right: 0;
      margin: 0 auto;
      img,
      .ee-buy, 
      .close {
        display: none;
      }
    }
  }

  .compare-value {
      padding-top: 10px; 
      border-right: 1px solid red;
      // padding-left: 0;
      // padding-right: 0;
  }

  .compare-title {
    background: $lightgrey-c;
    border-top: 1px solid $lightgrey-t;
    border-bottom: 1px solid $lightgrey-t;
    border-right: yellow;
    font-size: 110%;
    text-align: center;
    line-height: 3;
    // white-space: nowrap;
    @include media-min($screen-sm) {
      background: none;
      text-align: left;
      border-bottom: none;
    } 
  } 

  .ee-count-5 {
    width: 50%;
    position: relative;
    border: 1px solid green;
    @include media-min($screen-sm) {
      width: 20%;
      border-top: 1px solid $lightgrey-t;
    }
  }

  .ee-count-4 {
    width: 50%;
    position: relative;
    @include media-min($screen-sm) {
      width: 25%;
      border-top: 1px solid $lightgrey-t;
    }
  }

  .ee-count-3 {
    width: 50%;
    position: relative;
    @include media-min($screen-sm) {
      width: 33.3333%;
      border-top: 1px solid $lightgrey-t;
    }
  }

  .ee-count-2, .ee-count-1 {
    width: 50%;
    position: relative;
    @include media-min($screen-sm) {
      width: 50%;
      border-top: 1px solid $lightgrey-t;
    }
  }

  .js-datawrapper {
    overflow: hidden;
    position: relative;
          padding-left: 0;
      padding-right: 0;
  }

  .fixwidth {
    width:300%;
    text-align: center; 
    @include media-min($screen-sm) {
      text-align: left;
      width: 100%;
    } 
  }

}

// end Compare