%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%parent-of-vertical-align {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tt-dropdown-menu {
background-color: $lightgrey-c;
padding: 10px;
width: 100%;
  .tt-dataset-* {
  border-bottom: 1px solid $lightgrey-t;
  }
}

.ee-vertical-middle {
  @extend %vertical-align;
  }

.ee-shopping {
    @include media-min($screen-sm) {
      margin-top: 20px;
    }
  .ee-infotext {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .progress-content {
    @include media-min($screen-sm) {
      margin-bottom: 30px;
      margin-top: 40px;
    }

    .close { 
      margin-top: 5px;
      &:hover {
          color: $purple-c;
          opacity: 1;
        }
      }
    .alert .close:hover{
      color: #fff;
    }
  }
  .cart-item-th {
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 1px solid $lightgrey-t;
    color: darken($clay-temp, 25%);
  }
  // .cart-item:not(:last-of-type) > .row {
  //   border-bottom: 1px solid $lightgrey-t;
  //   margin-bottom: 10px;
  //   margin-top: 10px;
  //   }

  .cart-item {
    & > .row {
    border-bottom: 1px solid $lightgrey-t;
    margin-bottom: 10px;
    margin-top: 10px;
    mix-blend-mode: multiply;
      @extend %parent-of-vertical-align;
      height: auto;
        @include media-min($screen-sm) {
        height: 90px;
      }
      & > div {
        position: static;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        @include media-min($screen-sm) {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      &.cart-item-th {
        height: auto;
      }
    }
    .cart-item-image {
      padding-right: 5px;
      
      .img-responsive {
        width: 100%;
        height: auto;
        max-width: 65px;
        min-width: 55px;
      }
    }
    .input-group,
    .input-group span {
      font-weight: bold;
      max-width: 110px;
      margin-bottom: 10px;
    }

    .input-group {
      input[type="text"], 
      input[type="password"], 
      input[type="search"] {
        text-align: center;
        padding: 0;
      }
    }
    a {
      display: block;
      margin-bottom: 8px;
    }
    .panel-collapse {
      // input[type="text"] {
      //   margin-bottom: 15px;
      // }
      .close {
        margin-top: 5px;
      }
    }
    // .amount {
    //    margin-bottom: 8px;
    //    margin-right: 10px;
    //    font-weight: normal;
    //    display: inline-block;
    // }
    &.transport {
      margin-top: -15px;
    }
  }
    p.ee-product-price-md {
      margin: 0;
      margin-top: 5px;
    }
  .ee-accordion {
    border-top: 1px solid $lightgrey-t;
    .panel-heading a {
      font-size: 1.2em;
    }
    .panel-body {
      padding-top: 0;
    }
  }
  .tsr-forms .selectboxit-option.selectboxit-disabled .selectboxit-option-anchor {
    color: $lightgrey-t;
  }
  .selectboxit-disabled {
    background-color: $lightgrey-c;
  }

  .checks {
    margin-top: 35px;
    @include media-min($screen-sm) {
      margin-top: 15px;
    }
    .form-group {
    margin-top: 15px;
    }
  }

  .bankbuttons { 
    margin-bottom: 20px;
    .btn {
      display: inline-block; 
      margin: 0 10px 10px 0;
    }
  }

  .selectboxit-container .selectboxit-options {
    max-height: 240px;
  }
}

  .navbar-inverse .navbar-nav .dropdown-menu.cart-dropdown {
  background-color: $lightgrey-c;
  .container {
    background-color: $lightgrey-c;
    color: $text-color;
  }
  .close-up-btn-bar {
    background-color: $lightgrey-c;
    border-top-color: $lightgrey-t;
    color: $purple-c;
  }

}


.arrow_box {
  margin-top: 20px;
  margin-bottom: -1px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  background: #fff;
  border: 1px solid $lightgrey-t;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 40%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: $lightgrey-t;
  border-width: 16px;
  margin-left: -16px;
}

.edit-price {
  margin-top: -16px;
  &.arrow_box:after, 
  &.arrow_box:before {
    left: 66%;
  }
}

.cart-overview-heading.panel-default {
  padding-top: 5px;
}

// http://bioneos.com/blog/faux-full-width-sections-css
.wrapping-layers {
  overflow-x: hidden;
  background-color: $lightgrey-c;
}

.ee-fullwidth {
    
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
    &.arrow_box {
      @extend %section-bordered-white;
    }
}

.alert-inline {
  margin-bottom: 20px;
  margin-top: 20px;
}

.dl-horizontal.wide dt {
  width: 240px;
}

.dl-horizontal.wide dd {
  margin-left: 260px;
}

.external:after {
  color: $purple-c;
font-family: 'tsr-icons-all';
content: "\e668";
vertical-align: baseline;
font-size: 0.8em;
padding-left: 5px;
}

.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: 1px dashed $purple-c !important; 
}

.close.edit {
  font-size: 18px;
  line-height: 1.3;
}

.tsr-forms .selectboxit-options {
  width: 100% !important;
}