// select
label {
  &.ee-select-label {
    font-size: $label-font-size;
    color: $border-color;
    margin: 0;
  }
}

.select-wrapper {
  position: relative;

  input.select-dropdown {
    position: relative;
    cursor: pointer;
    color: $text-color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $border-color;
    outline: none;
    height: 2.1rem;
    line-height: normal;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: none;
    border-radius: 0;
    text-indent: 0;
    &:active,
    &:focus {
      border: none;
      border-bottom: 1px solid;
    }
    &.disabled,
    &[disabled] {
      color: #bbb;
      background-color: transparent;
      border-color: #bbb;
      &:active,
      &:focus {
        border: none;
        border-bottom: 1px solid;
      }
      + .icon {
         color: #ccc;
      }
    }
    &.input-validation-error {
      color: $orange-c;
      border-color: $orange-c;
      + .icon {
        color: $orange-c;
      }
    }
  }
  .icon {
      position: absolute;
      right: 0;
      top: 35%;
      color: $dropdown-link-disabled-color;
    }
}

select { display: none; }
select.browser-default { display: block; }


// Disabled styles
select:disabled {
  color: #ccc;
}
.select-wrapper i {
  color: #ccc;
}
.select-dropdown {
  li {
    &.disabled {
      color: $dropdown-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
      &.active {
        color: $dropdown-link-disabled-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #FFFFFF;
  margin: 0px;
  min-width: 100px;
  z-index: 1000;
  max-height: 70%;
  opacity: 0;
  overflow-y: hidden;

  will-change: width, height;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  list-style: none;
  padding: 0;

  li {
    cursor: pointer;
    color: $text-color;
    font-weight: 500;
    &:hover {
      background-color: rgba(0,0,0, .06);
    }

    & > span {
      display: block;
      padding: 5px;
      line-height: 2;
      figure {
        float: right;
        > img {
          max-height: 30px;
          max-width: 30px;
        }
      }
    }
    &.disabled,
    &[disabled] {
      color: $dropdown-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
      &:hover { 
        cursor: default; 
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}
