.ee-sidenav {
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  ul {
    padding: 0;
    list-style-type: none;
  }

  > li {
    a {
      display: block;
      text-decoration: none;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      position: relative;
    }

    h6 {
      font-size: $font-size-base;
      font-weight: 700;
      word-wrap:break-word;
    }
    &:hover {
      h6 {
        color: #000;
          &:after {
            content: "\e66a";
            font-family: 'tsr-icons-all';
            float: right;
        }
      }
    }
  }

  > li > ul > li {
      a {
      padding-left: 30px;
      border-bottom: none;
    }
    &:hover {
      background: $link-hover-color;
      border-radius: $border-radius-base;
    h6 {
      color: #fff;
      }
    }
  } 

// change to whatever is your active state menu element name
  .selected {
    h6 {
      color: #000;
      &:after {
        content: "\e66a";
        font-family: 'tsr-icons-all';
        float: right;
      }
    }
  }
}

