.ee-shopping {
    @include media-min($screen-sm) {
      margin-top: 20px;
    }
  .ee-infotext {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .progress-content {
    @include media-min($screen-sm) {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .close:hover {
      color: $purple-c;
      opacity: 1;
    }
    .alert .close:hover{
      color: #fff;
    }
  }
  .cart-item:not(:last-of-type) {
    border-bottom: 1px solid $lightgrey-t;
    }
  .cart-item {
    h3 {
    font-size: 1.6em;
    margin-top: 0px;
    }
    .cart-item-image {
      padding-right: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
      .img-responsive {
        width: 100%;
        height: auto;
        @include media-min($screen-sm) {
          max-width: 75px;
        }
      }
    }
    .input-group,
    .input-group span {
      font-weight: bold;
      max-width: 130px;
      margin-bottom: 10px;
    }

    .input-group .input-number {
      input[type="text"], 
      input[type="password"], 
      input[type="search"] {
        text-align: center;
      }
    }


    .panel {
      margin-bottom: 8px;
    }
    .panel-collapse {
      input[type="text"] {
        margin-bottom: 15px;
      }
      .close {
        margin-top: 5px;
      }
    }
    // .amount {
    //    margin-bottom: 8px;
    //    margin-right: 10px;
    //    font-weight: normal;
    //    display: inline-block;
    // }
  }
  .ee-price {
    font-size: 1.4em;
    margin-bottom: 14px;
    span {
      font-weight: bold;
    }
  }
  .ee-accordion {
    border-top: 1px solid $lightgrey-t;
    .panel-heading a {
      font-size: 1.2em;
    }
    .panel-body {
      padding-top: 0;
    }
  }
  .tsr-forms .selectboxit-option.selectboxit-disabled .selectboxit-option-anchor {
    color: $lightgrey-t;
  }
  .selectboxit-disabled {
    background-color: $lightgrey-c;
  }

  .checks {
    margin-top: 35px;
    @include media-min($screen-sm) {
      margin-top: 15px;
    }
    .form-group {
    margin-top: 15px;
    }
  }

  .bankbuttons { 
    margin-bottom: 20px;
    .btn {
      display: inline-block; 
      margin: 0 10px 10px 0;
    }
  }

  .selectboxit-container .selectboxit-options {
    max-height: 240px;
  }

.ee-middle-table {
  display: table-cell;
vertical-align: middle;
}
}