<div class="row ee-comparebar">
  <div class="navbar navbar-default" role="compare">
    <ul class="list-inline navbar-left hidden-xs">
      <li><a href="list-view-phones.html" class="ee-iconbutton ee-list"></a></li>
      <li><a href="block-view-phones.html" class="ee-iconbutton ee-block"></a></li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Populaarsemad enne<span class="icon icon-arrow-down"></span></a>
        <ul class="dropdown-menu inverse-dropdown">
          <li><a href="">Populaarsemad enne</a></li>
          <li><a href="">Odavamad enne</a></li>
          <li><a href="">Kallimad enne</a></li>
          <li><a href="">Uuemad enne</a></li>
        </ul>
      </li>
    </ul>
    <ul class="list-inline navbar-right">
      <li><span>
        <a class="hidden-xs ee-compare" href="compare-page.html">Tootevõrdlus:</a>
        <a class="visible-xs" href="compare-page.html"><i class="icon icon-compare"></i></a>
      </span></li>
      <li>
        <figure>
          
          <a type="button" class="add icon icon-add" aria-hidden="true"></a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
    </ul>
  </div>
</div>