<h2>Filtreeri</h2>
<div class="ee-filters-list tsr-forms">
  <ul class="filter">
    <li class="header">
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content=" Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Diagonaal tollides"><span>Diagonaal</span><i class="icon icon-help-round"></i></a>
    </li>
    <li>
        <label class="control-label-left" for="check-5">21" - 24" <span>(3)</span></label>
        <input type="checkbox" id="check-5" />
    </li>
    <li>
        <label class="control-label-left" for="check-6">24" - 28" <span>(2)</span></label>
        <input type="checkbox" id="check-6" />
    </li>
    <li>
        <label class="control-label-left" for="check-7">28" - 32" <span>(12)</span></label>
        <input type="checkbox" id="check-7" />
    </li>
    <li>
        <label class="control-label-left" for="check-8">32" - 39"</label>
        <input type="checkbox" id="check-8" />
    </li>
    <li>
      <ul class="collapse list-unstyled" id="collapseExample">
        <li>
            <label class="control-label-left" for="check-9">39" - 46"</label>
            <input type="checkbox" id="check-9" />
        </li>
        <li>
            <label class="control-label-left" for="check-10">46" - 52"</label>
            <input type="checkbox" id="check-10" />
        </li>
        <li>
            <label class="control-label-left" for="check-11">52" - 80"</label>
            <input type="checkbox" id="check-11" />
        </li>
      </ul>
      <li class="collapse-trigger collapsed" data-moretext="Näita rohkem" data-lesstext="Näita vähem"></li>
    </li>
  </ul>

  <ul class="filter">
    <li class="header">
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content=" Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja"><span>Tootja</span><i class="icon icon-help-round"></i></a>
    </li>
    <li>
        <label class="control-label-left" for="check-4">LG</label>
        <input type="checkbox" id="check-4" />
    </li>
    <li>
        <label class="control-label-left" for="check-5">Panasonic</label>
        <input type="checkbox" id="check-5" />
    </li>
    <li>
        <label class="control-label-left" for="check-6">Philips</label>
        <input type="checkbox" id="check-6" />
    </li>
    <li>
        <label class="control-label-left" for="check-7">Samsung</label>
        <input type="checkbox" id="check-7" />
    </li>
    <li>
      <ul class="collapse list-unstyled" id="collapseExample">
        <li>
            <label class="control-label-left" for="check-9">39" - 46"</label>
            <input type="checkbox" id="check-9" />
        </li>
        <li>
            <label class="control-label-left" for="check-10">46" - 52"</label>
            <input type="checkbox" id="check-10" />
        </li>
        <li>
            <label class="control-label-left" for="check-11">52" - 80"</label>
            <input type="checkbox" id="check-11" />
        </li>
      </ul>
      <li class="collapse-trigger collapsed" data-moretext="Näita rohkem" data-lesstext="Näita vähem"></li>
    </li>
  </ul>

  <ul class="filter">
    <li class="header">Omadused</li>
    <li>
        <label class="control-label-left" for="check-12">smartTV</label>
        <input type="checkbox" id="check-12" />
    </li>
    <li>
        <label class="control-label-left" for="check-13">Elioni nutiTV</label>
        <input type="checkbox" id="check-13" />
    </li>
    <li>
        <label class="control-label-left" for="check-14">Kumer ekraan</label>
        <input type="checkbox" id="check-14" />
    </li>
    <li>
      <label class="control-label-left" for="check-15">Taustavalgustus</label>
      <input type="checkbox" id="check-15" />
    </li>
    <li>
      <div class="slider-values">
        <span class="js-pricesliderValMin">250</span> €
        <span class="pull-right"><span class="js-pricesliderValMax">450</span> €</span>
      </div>
      <input  type="text" id="js-priceslider" value="" data-slider-min="250" data-slider-max="450" data-slider-step="5" data-slider-value="[250,450]"/>
    </li>
  </ul>
  
</div>
