<div class="ee-filters-list tsr-forms">
  <ul class="filter">
    <li>
      <span>
        <label class="control-label-left" for="check-1">Telerid</label>
        <input type="checkbox" id="check-1" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-2">TV-lisavarustus</label>
        <input type="checkbox" id="check-2" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-3">Digiboksid</label>
        <input type="checkbox" id="check-3" />
      </span>
    </li>
  </ul>
  <ul class="filter">
    <li class="header">
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content=" Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja">Tootja <i class="icon icon-help"></i></a>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-4">LG</label>
        <input type="checkbox" id="check-4" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-5">Panasonic</label>
        <input type="checkbox" id="check-5" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-6">Philips</label>
        <input type="checkbox" id="check-6" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-7">Samsung</label>
        <input type="checkbox" id="check-7" />
      </span>
    </li>
  </ul>
  <ul class="filter">
    <li class="header">
      <a href="javascript:void(0);">Omadused</a>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-12">smartTV</label>
        <input type="checkbox" id="check-12" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-13">Elioni nutiTV</label>
        <input type="checkbox" id="check-13" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-14">Kumer ekraan</label>
        <input type="checkbox" id="check-14" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-15">Taustavalgustus</label>
        <input type="checkbox" id="check-15" />
      </span>
    </li>
    <ul class="collapse list-unstyled" id="collapseExample">
      <li>
        <span>
          <label class="control-label-left" for="check-16">Mini DisplayPort</label>
          <input type="checkbox" id="check-16" />
        </span>
      </li>
      <li>
        <span>
          <label class="control-label-left" for="check-17">DLAN</label>
          <input type="checkbox" id="check-17" />
        </span>
      </li>
    </ul>
    <li class="collapse-trigger collapsed" data-toggle="collapse" href="#collapseExample">
      <i></i>
    </li>
  </ul>
    
  <ul class="filter">
    <li class="header">
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content=" Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Diagonaal tollides">Diagonaal tollides <i class="icon icon-help"></i></a>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-8">21" - 32"</label>
        <input type="checkbox" id="check-8" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-9">39" - 46"</label>
        <input type="checkbox" id="check-9" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-10">46" - 52"</label>
        <input type="checkbox" id="check-10" />
      </span>
    </li>
    <li>
      <span>
        <label class="control-label-left" for="check-11">52" - 80"</label>
        <input type="checkbox" id="check-11" />
      </span>
    </li>
  </ul>
</div>

<!-- 
<div id="content-placeholder-menu"></div> 
  <script id="menu-template" type="text/x-handlebars-template">
  <ul class="ee-sidenav">
    {{#sidemenu}}

      {{#if sub}} 
        <li>
          <a class="firstlevel"><h6>{{parent}}</h6></a>
          <ul id="{{href}}">

            {{#each sub}}
            <li><a href="#"><h6>{{this}}</h6></a></li>
            {{/each}}
          </ul>
        </li>
        {{else}}
        <li>
          <a class="firstlevel" href="#"><h6>{{parent}} </h6></a>
        </li>
        {{/if}}

    {{/sidemenu}}
  </ul>
  </script>
-->
<!-- http://jsfiddle.net/D2RLR/251/ add active-->

<!-- was: 
 <ul class="ee-sidenav" id="sidemenu">
    {{#sidemenu}}

      {{#if sub}} 
        <li>
          <a class="collapsible collapsed" data-toggle="collapse" data-target="#{{href}}" data-parent="#sidemenu"><h6>{{parent}}</h6></a>
          <ul class="ee-sidenav-sub collapse" id="{{href}}">

            {{#each sub}}
            <li ><a href="#"><h6>{{this}}</h6></a></li>
            {{/each}}
          </ul>
        </li>
        {{else}}
        <li>
          <a href="javascript:void(0);"><h6>{{parent}} </h6></a>
        </li>
        {{/if}}

    {{/sidemenu}}
  </ul> -->
