<h2>Filtreeri</h2>
<div class="ee-filters-list tsr-forms">
  <ul class="filter">
    <li class="header">
      <span>Diagonaal</span>
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content=" Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Diagonaal tollides"><i class="icon icon-help-round"></i></a>
    </li>
    <li>
      <label class="control-label-left" for="check-0">21" - 24" <span>(3)</span></label>
      <input type="checkbox" id="check-0" />
    </li>
    <li>
      <label class="control-label-left" for="check-1">24" - 28" <span>(2)</span></label>
      <input type="checkbox" id="check-1" />
    </li>
    <li>
      <label class="control-label-left" for="check-2">28" - 32" <span>(12)</span></label>
      <input type="checkbox" id="check-2" />
    </li>
    <li>
      <label class="control-label-left" for="check-3">32" - 39"</label>
      <input type="checkbox" id="check-3" />
    </li>
    <li>
      <ul class="collapse">
        <li>
          <label class="control-label-left" for="check-9">39" - 46"</label>
          <input type="checkbox" id="check-9" />
        </li>
        <li>
          <label class="control-label-left" for="check-10">46" - 52"</label>
          <input type="checkbox" id="check-10" />
        </li>
        <li>
          <label class="control-label-left" for="check-11">52" - 80"</label>
          <input type="checkbox" id="check-11" />
        </li>
      </ul>
      <a href="javascript:void(0);" class="collapse-trigger collapsed" data-moretext="Näita rohkem" data-lesstext="Näita vähem"></a>
    </li>
  </ul>

  <ul class="filter">
    <li class="header">
      <span>Tootja</span>
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content=" Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja"><i class="icon icon-help-round"></i></a>
    </li>
    <li>
      <label class="control-label-left" for="check-4">LG</label>
      <input type="checkbox" id="check-4" />
    </li>
    <li>
      <label class="control-label-left" for="check-5">Panasonic</label>
      <input type="checkbox" id="check-5" />
    </li>
    <li>
      <label class="control-label-left" for="check-6">Philips</label>
      <input type="checkbox" id="check-6" />
    </li>
    <li>
      <label class="control-label-left" for="check-7">Samsung</label>
      <input type="checkbox" id="check-7" />
    </li>
    <li>
      <ul class="collapse">
        <li>
          <label class="control-label-left" for="check-9">39" - 46"</label>
          <input type="checkbox" id="check-9" />
        </li>
        <li>
          <label class="control-label-left" for="check-10">46" - 52"</label>
          <input type="checkbox" id="check-10" />
        </li>
        <li>
          <label class="control-label-left" for="check-11">52" - 80"</label>
          <input type="checkbox" id="check-11" />
        </li>
      </ul>
      <a href="javascript:void(0);" class="collapse-trigger collapsed" data-moretext="Näita rohkem" data-lesstext="Näita vähem"></a>
    </li>
  </ul>

  <ul class="filter">
    <li class="header">Omadused</li>
    <li>
      <label class="control-label-left" for="check-12">smartTV</label>
      <input type="checkbox" id="check-12" />
    </li>
    <li>
      <label class="control-label-left" for="check-13">Elioni nutiTV</label>
      <input type="checkbox" id="check-13" />
    </li>
    <li>
      <label class="control-label-left" for="check-14">Kumer ekraan</label>
      <input type="checkbox" id="check-14" />
    </li>
    <li>
      <label class="control-label-left" for="check-15">Taustavalgustus</label>
      <input type="checkbox" id="check-15" />
    </li>
  </ul>

  <ul class="filter">
    <li class="header">Hinnavahemik</li>
    <li>
      <div class="slider-values">
        <span class="js-pricesliderValMin">0</span> €
        <span class="pull-right"><span class="js-pricesliderValMax">450</span> €</span>
      </div>
      <input  type="text" id="js-priceslider" value="" data-slider-min="0" data-slider-max="450" data-slider-step="5" data-slider-value="[0,450]"/>
    </li>
    <li>
      <label class="control-label-left" for="check-16">50 € - 100 €</label>
      <input type="checkbox" id="check-16" />
    </li>
    <li>
      <label class="control-label-left" for="check-17">100 € - 150 €</label>
      <input type="checkbox" id="check-17" />
    </li>
    <li>
      <label class="control-label-left" for="check-18">150 € - 200 €</label>
      <input type="checkbox" id="check-18" />
    </li>
    <li>
      <label class="control-label-left" for="check-19">200 € - 250 €</label>
      <input type="checkbox" id="check-19" />
    </li>
  </ul>

  <ul class="filter">
    <li class="header collapse-trigger">
      <span>4G</span>
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content="Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja"><i class="icon icon-help-round"></i></a>
    </li>
    <li>
      <ul class="collapse">
        <li>
          <label class="control-label-left" for="check-20">Jah</label>
          <input type="checkbox" id="check-20" />
        </li>
        <li>
          <label class="control-label-left" for="check-21">Ei</label>
          <input type="checkbox" id="check-21" />
        </li>
      </ul>
    </li>
  </ul>

  <ul class="filter">
    <li class="header collapse-trigger">
      <span>Kõned mobiilside võrgus</span>
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content="Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja"><i class="icon icon-help-round"></i></a>
    </li>
    <li>
      <ul class="collapse">
        <li>asd</li>
      </ul>
    </li>
  </ul>

  <ul class="filter">
    <li class="header collapse-trigger">
      <span>Operatsioonisüsteemi versioon</span>
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content="Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja"><i class="icon icon-help-round"></i></a>
    </li>
    <li>
      <ul class="collapse">
        <li>asd</li>
      </ul>
    </li>
  </ul>

  <ul class="filter">
    <li class="header collapse-trigger">
      <span>Sisene mälu</span>
      <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" data-content="Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm " title="Tootja"><i class="icon icon-help-round"></i></a>
    </li>
    <li>
      <ul class="collapse">
        <li>
          <label class="control-label-left" for="check-22">4 GB</label>
          <input type="checkbox" id="check-22" />
        </li>
        <li>
          <label class="control-label-left" for="check-23">8 GB</label>
          <input type="checkbox" id="check-23" />
        </li>
        <li>
          <label class="control-label-left" for="check-24">16 GB</label>
          <input type="checkbox" id="check-24" />
        </li>
        <li>
          <label class="control-label-left" for="check-25">32 GB</label>
          <input type="checkbox" id="check-25" />
        </li>
        <li>
          <label class="control-label-left" for="check-26">64 GB</label>
          <input type="checkbox" id="check-26" />
        </li>
        <li>
          <label class="control-label-left" for="check-27">128 GB</label>
          <input type="checkbox" id="check-27" />
        </li>
      </ul>
    </li>
  </ul>
  <div class="text-center">
    <a href="#">Tühjenda filtrid</a>
  </div>
  
</div>
