<footer>
  <div class="container">
    <div class="row ">

      <div class="footer-section col-sm-3 col-md-2">
        <div class="row">
          <div class="col-xs-6 col-sm-12">
            <figure>
              <span class="icon icon-elion-logo"></span>
            </figure>
          </div>
          <div class="col-xs-6 col-sm-12">
            <p class="small text-muted">
              <strong>AS Eesti Telekom</strong><br>
              Valge 16, 19095, Tallinn<br>
              Registrikood: <strong>10234957</strong><br>
              <strong><a href="mailto:info@telekom.ee" target="_blank">info@telekom.ee</a></strong>
            </p>
          </div>
        </div>
      </div>

      <div class="footer-section col-sm-3 col-md-2">
        <a data-toggle="collapse" href="#companyCollapse">
          <h6>Ettevõttest  <span class="icon pull-right"></span></h6></a>
          <div class="collapse " id="companyCollapse">
            <ul class="list-unstyled">
              <li><a href="#">Ettevõttest</a></li>
              <li><a href="#">Tule tööle</a></li>
              <li><a href="#">Uudised</a></li>
            </ul>
          </div>
        </div>


        <div class="footer-section col-sm-3 col-md-2">
          <a data-toggle="collapse" href="#contactCollapse">
            <h6>Kontaktid <span class="icon pull-right"></span></h6>
          </a>
          <div class="collapse " id="contactCollapse">
            <ul class="list-unstyled">
              <li><a href="#">Kontaktid</a></li>
              <li><a href="#">Esindused</a></li>
              <li><a href="#">Meediale</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-section col-sm-3 col-md-2">
          <a data-toggle="collapse" href="#contractsCollapse">
            <h6>Hetkel nimetu  <span class="icon pull-right"></span></h6>
          </a>
          <div class="collapse " id="contractsCollapse">
            <ul class="list-unstyled">
              <li><a href="#">Lepingud ja tingimused</a></li>
              <li><a href="#">Hinnakiri</a></li>
              <li><a href="#">Ehitajale, arendajale ja maaomanikule</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-section col-sm-12 col-md-4 ">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-unstyled list-inline">
                <li class="col-xs-6 col-sm-3 col-md-12">
                  <a href="http://www.digitark.ee/" target="_blank">
                    <span class="icon icon-digitark-round"></span>Digitark
                  </a>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-12">
                  <a href="http://foorum.elion.ee/foorum/index.php" target="_blank">
                    <span class="icon icon-teliasonera-round"></span>Foorum
                  </a>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-12">
                  <a href="https://www.facebook.com/pages/Elion/341626141006" target="_blank">
                    <span class="icon icon-facebook-round"></span>Facebook
                  </a>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-12">
                  <a href="https://twitter.com/elion" target="_blank">
                    <span class="icon icon-twitter-round"></span>Twitter
                  </a>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-12">
                  <a href="https://instagram.com/emt_elion/" target="_blank">
                    <span class="icon icon-instagram-round"></span>Instagram
                  </a>
                </li>
                <li class="col-xs-6 col-sm-3 col-md-12">
                  <a href="https://www.linkedin.com/company/3858622" target="_blank">
                    <span class="icon icon-linkedin-round"></span>LinkedIn
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
</footer>

    <script src="assets/js/vendor/jquery.js"></script> 
    <script src="assets/js/vendor/scrollto.js"></script> 
    <script src="assets/js/vendor/handlebars-v1.3.0.js"></script>
    <!-- @javascript rapid -->
    <!-- @include $pagejs -->


<!-- General handlebars -->
    <script src="assets/data/handlebars/hbs-mainnav.hbs"></script> <!-- FOR MAIN MENU -->
    <script src="assets/data/handlebars/hbs-product-list.hbs"></script> <!-- FOR AUTOCOMPLETE -->
    <script src="assets/data/handlebars/hbs-cart.hbs"></script> <!-- FOR CART -->
    <script src="assets/data/handlebars/hbs-cart-delivery.hbs"></script> <!-- FOR CART DELIVERY-->

    <script>
      // 2nd level 
      // Temporary sidemenu show-off for static presentation only, the rest is pure BS

$(document).ready(function(){
  $('.ee-sidenav li  a').click(function(e){
    if ($(this).attr('class') != 'selected'){
      $(this).addClass('selected');
      $('a').not(this).removeClass('selected');
    }
    else {
      $(this).removeClass('selected');
    }
    e.preventDefault();
  });

  

  // 2nd level folDer
  // function handleClick()
  // {
  //     this.value = (this.value == 'Veel valikud' ? 'Vähem valikuid' : 'Veel valikud!');
  // }
  // document.getElementById('jsFiltersMoreText').onclick=handleClick;

   // $('.js-listedmenu').hideMaxListItems({ 'max': 4, 'speed':500, 'moreText':'Näita rohkem', 'lessText': 'Näita vähem' });

  // $('.js-placeholder-offers').hideMaxAItems({ 'max':4, 'speed':2000, 'moreText':'Näita rohkem', 'lessText': 'Näita vähem' });



    // SLIDER SCRIPT
  $("#js-priceslider").slider({
      tooltip: 'hide'
    });
    $("#js-priceslider").on('slide', function(slideEvt) {
    $(".js-pricesliderValMin").text(slideEvt.value[0]);
    $(".js-pricesliderValMax").text(slideEvt.value[1]);
  });


});


// Alerts logic
  $('#alertbtn').click(function() {
    if ( !$('#alert1').is( '.in' ) ) {
       $('#alert1').addClass('in');
    }
  });

  $('#alertbtn2').click(function() {
    if ( !$('#alert2').is( '.in' ) ) { 
       $('#alert2').addClass('in');
    }
  });

  $('#successbtn').click(function() {
    if ( !$('#success1').is( '.in' ) ) {
       $('#success1').addClass('in');

       setTimeout(function() {
          $('#success1').removeClass('in');
       }, 3200);
    }
  });

  $('#infobtn').click(function() {
    if ( !$('#your-uniq-ID-123').is( '.in' ) ) {
       $('#your-uniq-ID-123').addClass('in');

       setTimeout(function() {
          $('#your-uniq-ID-123').removeClass('in');
       }, 4800);
    }
  });

    // DETAIL POPOVER
    $('[data-toggle="popover"]').popover();
    $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
    });

    $("a[href='#top']").click(function() {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      return false;
    });
  </script>

</body>
</html>